*, *:after, *:before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

button{
  background-color: transparent;
  outline: none;
}

svg{
  width: 100%;
  height: 100%;
}

html{
  overflow-x: hidden;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header{
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  background: white;
  z-index: 5;
  top: 0;
}

.wrapper-header{
  width: 100%;
  padding: 18px 0 19px 0;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  z-index: 4;
  background-color: white;
}

.block-menu-header{
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  //top: 90px;
  top: -150%;
  z-index: 3;
  padding-bottom: 90px;
  transition: all 0.8s ease-out;
}

.block-menu-header-list{
  width: 100%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  .block-menu-header-list_list{
    width: 100%;
    display: block;
    @include fontTTRoundsCondensedB;
    font-size: 24px;
    font-stretch: condensed;
    line-height: 3.33;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }
}

.block-menu-header_lk{
  border-top: 1px solid #f0f0f0;
  @include fontTTRoundsCondensedR;
  font-size: 18px;
  font-stretch: condensed;
  text-align: center;
  color: #39b54a;
  padding: 25px 0;
  display: block;
  &:before{
    content: "";
    @include display-inline-middle;
    background-image: url("../img/svg/lk.svg");
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
  }
}

.block-header-lk{
  position: absolute;
  @include fontTTRoundsCondensedR;
  font-size: 18px;
  font-stretch: condensed;
  text-align: center;
  color: #39b54a;
  @include display-inline-middle;
  top: 31px;
  right: 125px;
  &:before{
    content: "";
    @include display-inline-middle;
    background-image: url("../img/svg/lk.svg");
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
  }
}

.block-logo-header{
  background-image: url('../img/svg/logo.svg');
  width: 105px;
  height: 53px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  margin: 0 0 0 44px;
}

.block-menu{

}

.open-menu{
  background-image: url("../img/svg/combined-shape.svg");
  width: 40px;
  height: 21px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 34px;
  right: 44px;
  transition: all .2s ease-out;
}

.close-menu{
  background-image: url("../img/svg/combined-shape-close.svg");
  width: 26px;
  height: 26px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 34px;
  right: 52px;
  transition: all .2s ease-out;
}

.out {
  min-height: 50vh;
  margin-top: 150px;
}

.gray{
  background-color: #f9f9f9;
}

.footer{
  width: 100%;
  position: relative;
}

.footer-row{
  position: relative;
  padding: 50px 0 40px 0;
  margin: 0 44px;
  font-size: 0;
  &:last-child{
    border-top: 1px solid #f1f1f1;
    padding-top: 40px;
  }
  .btn-red{
    @include display-inline-top;
    margin-right: 9%;
  }
}

.btn-red{
  @include fontTTRoundsCondensedR;
  font-size: 18px;
  font-stretch: condensed;
  line-height: 1;
  color: #ffffff;
  border-radius: 2px;
  background-color: #eb1c24;
  padding: 15px 40px 17px 40px;
  margin-bottom: 15px;
}

.wrapper-tel-f{
  @include display-inline-top;
  margin-right: 9%;
  .wrapper-tel-f_label{
    @include fontOpenSans300;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: #9fa2ad;
    margin-bottom: 9px;
  }
  .wrapper-tel-f_tel{
    @include fontOpenSans600;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #000000;
  }
}

.wrapper-email-f{
  @include display-inline-top;
  .wrapper-email-f_label{
    @include fontOpenSans300;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    color: #9fa2ad;
    margin-bottom: 9px;
  }
  .wrapper-email-f_email{
    @include fontOpenSans300;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #39b54a;
    text-decoration: underline;
  }
}

.wrapper-soc-f{
  width: 100%;
  ul{
    text-align: center;
  }
  li{
    @include display-inline-middle;
    margin-left: 8px;
    margin-right: 8px;
    .soc-link-f{
      width: 32px;
      height: 32px;
      display: block;
    }
  }
}

.wrapper-rights-f{
  position: absolute;
  top: 47px;
  left: 0;
  @include fontOpenSans300;
  font-size: 15px;
  text-align: left;
  color: #9fa2ad;
}

.wrapper-dev-f{
  position: absolute;
  top: 47px;
  right: 0;
  @include fontOpenSans300;
  font-size: 15px;
  text-align: left;
  color: #9fa2ad;
  span{
    margin-left: 5px;
    color: #39b54a;
    text-decoration: underline;
  }
}

.container-menu-nav{
  width: 100%;
  background-color: #eb1c24;
  position: fixed;
  top: 91px;
  z-index: 3;
  .block-menu-nav{
    @include fontTTRoundsCondensedR;
    font-size: 23px;
    font-stretch: condensed;
    text-align: left;
    color: #ffffff;
    padding: 14px 44px 17px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
    background-color: #eb1c24;
    .icon-prev{
      background-image: url("../img/svg/arrow.svg");
      width: 21px;
      height: 14px;
      object-fit: contain;
      background-repeat: no-repeat;
      background-size: contain;
      float: right;
      margin-top: 12px;
      transition: all 0.3s ease-out;
    }
  }
  .block-menu-list{
    padding: 20px 44px 50px 44px;
    position: absolute;
    //top: 58px;
    top: -1000%;
    background-color: #eb1c24;
    width: 100%;
    transition: all 0.5s ease-out;
    .block-menu-list_list{
      @include fontTTRoundsCondensedB;
      font-size: 24px;
      font-stretch: condensed;
      line-height: 3.33;
      text-align: center;
      color: #fffcfc;
      text-transform: uppercase;
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.container-block-info{
  width: 100%;
  position: relative;
  font-size: 0;
}


.block-info-list{
  @include display-inline-top;
  width: 49.5%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
  }
  .wrapper-block-info{
    width: 100%;
    height: 100%;
    padding: 40px 44px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .wrapper-block-info_text{
    width: 100%;
    height: 100%;
    position: relative;
    .block-info_text-section{
      @include fontTTRoundsCondensedB;
      font-size: 14px;
      font-stretch: condensed;
      text-align: center;
      color: #ffffff;
      border-radius: 3px;
      background-color: #eb1c24;
      padding: 7px 29px;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
    }
    .two-block{
      position: absolute;
      bottom: 0;
      left: 0;
      .block-info_text-title{
        @include fontTTRoundsCondensedB;
        font-size: 36px;
        font-stretch: condensed;
        line-height: 1.22;
        text-align: left;
        color: #ffffff;
        margin-bottom: 13px;
      }
      .block-info_text-txt{
        @include fontOpenSans300;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
      }
    }

  }
}

.block-info-list:nth-child(1){
  margin-right: 0.5%;
  height: 350px;
}

.block-info-list:nth-child(2){
  margin-left: 0.5%;
  height: 350px;
}

.block-info-list:nth-child(3){
  width: 100%;
  height: 410px;
  .wrapper-block-info_text{
    .two-block{
      top: 60px;
      left: 0;
      .block-info_text-title{
        font-size: 60px;
        padding-right: 15%;
        line-height: 1;
        margin-bottom: 30px;
      }
      .block-info_text-txt{
        font-size: 18px;
        line-height: 1.56;
        padding-right: 40%;
      }
    }
  }
}

.central-title {
  font-size: 0;
  display: inline-block;
  .central-title_txt{
    @include display-inline-middle;
    @include fontTTRoundsCondensedB;
    font-size: 36px;
    font-stretch: condensed;
    line-height: 1.22;
    text-align: left;
    color: #000;
    margin-right: 15px;
  }
  .central-title_icon{
    @include display-inline-middle;
    background: url(../img/svg/btn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    margin-top: 8px;
    transition: all .3s ease-in-out;
  }
}

.central-title+.container-block-row,
.container-sorting+.container-block-row{
  margin-top: 40px;
}

.container-block-row{
  font-size: 0;
}

.wrapper-big-block{
  @include display-inline-top;
  width: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 6%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 360px;
  margin-bottom: 30px;
  margin-top: 10px;
  .wrapper-big-block-text{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px 30px;
    .wrapper-big-block_data{
      @include fontOpenSans300;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
    }
    .wrapper-big-block_text{
      position: absolute;
      left: 30px;
      bottom: 30px;
      .wrapper-big-block_title{
        @include fontTTRoundsCondensedB;
        font-size: 28px;
        font-stretch: condensed;
        line-height: 1.14;
        text-align: left;
        color: #ffffff;
        margin-bottom: 15px;
      }
      .wrapper-big-block_txt{
        @include fontOpenSans300;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}

.wrapper-small-block{
  @include display-inline-top;
  width: 44%;
  position: relative;
  overflow: hidden;
  .block-small-link{
    margin-bottom: 30px;
    display: block;
    .block-small-link_title{
      @include fontTTRoundsCondensedR;
      font-size: 24px;
      font-stretch: condensed;
      line-height: 1.5;
      text-align: left;
      color: #000;
      margin-bottom: 6px;
    }
    .block-small-link_txt{
      @include fontOpenSans300;
      font-size: 16px;
      line-height: 1.88;
      text-align: left;
      color: #5e5e5e;
      margin-bottom: 15px;
      //padding-right: 15%;
    }
    .block-small-link_data{
      @include fontOpenSans300;
      font-size: 14px;
      text-align: left;
      color: #b5b3b3;
    }
  }
}