.container-prod{
  .container-tabs-btn {
    margin-bottom: 50px;
    .tabs-link{
      margin-right: 28px;
    }
  }
}

.container-stock {
  font-size: 0;
}

.row-block{
  width: 100%;
  position: relative;
  .block-text-outside{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-bottom: 55px;
    .block-text-outside_img{
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      margin-bottom: 20px;
      overflow: hidden;
      .block-info_text-section{
        @include fontTTRoundsCondensedB;
        font-size: 14px;
        font-stretch: condensed;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        background-color: #eb1c24;
        padding: 7px 29px;
        position: absolute;
        top: 20px;
        left: 20px;
        text-transform: uppercase;
        z-index: 2;
      }
    }
    .block-text-outside_wrapper{
      padding: 0 20px;
      .block-text-outside_title{
        @include fontTTRoundsCondensedR;
        font-size: 24px;
        font-stretch: condensed;
        line-height: 1.5;
        text-align: left;
        color: #000;
        margin-bottom: 5px;
      }
      .block-text-outside_txt{
        @include fontOpenSans300;
        font-size: 16px;
        line-height: 1.88;
        text-align: left;
        color: #5e5e5e;
        margin-bottom: 10px;
      }
      .block-text-outside_data{
        @include fontOpenSans300;
        font-size: 14px;
        text-align: left;
        color: #b5b3b3;

      }
    }
  }
  .block-text-outside:nth-child(3n+1){
    margin-right: 1%;
  }
  .block-text-outside:nth-child(3n+2){
    margin-left: 1%;
    margin-right: 1%;
  }
  .block-text-outside:nth-child(3n+3){
    margin-left: 1%;
  }
}

.container-navigation{
  width: 100%;
  position: relative;
  padding-bottom: 115px;
  overflow: hidden;
}

.wrapper-navigation{
  text-align: center;
  li{
    @include display-inline-middle;
    margin-right: 6px;
    margin-left: 6px;
    a{
      padding: 7px;
    }
  }
  .btn-prev{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin-right: 42px;
  }
  .no-active{
    .first{
      fill: #b5b3b3;
    }
  }
  .icon-btn-prev{
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
  }
  .btn-next{
    width: 20px;
    height: 20px;
    margin-left: 42px;
  }
  .icon-btn-next{
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
  }
  .number{
    a{
      @include fontOpenSans300;
      font-size: 20px;
      color: #b5b3b3;
      &:hover{
        color: #eb1c24;
      }
    }
  }
  .active{
    a{
      @include fontOpenSans600;
      font-size: 20px;
      color: #eb1c24;
    }
  }
  .interval{
    @include fontOpenSans300;
    font-size: 20px;
    color: #b5b3b3;
  }
}

.display-mobile-nav{
  display: none;
  font-size: 0;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0;
  li{
    @include display-inline-middle;
  }
  .btn-prev{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    .icon-btn-prev{
      transform: rotate(-90deg);
    }
  }
  .txt-nav{
    @include fontOpenSans300;
    font-size: 18px;
    line-height: 1.67;
    color: #5e5e5e;
  }
  .btn-next{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    .icon-btn-next{
      transform: rotate(-90deg);
    }
  }
}

.container-sorting{
  position: absolute;
  top: 13px;
  right: 0;
  .txt-sorting{
    @include fontOpenSans300;
    font-size: 16px;
    font-stretch: condensed;
    text-align: left;
    color: #000;
    vertical-align: middle;
    margin-right: 15px;
  }
  .select2-container {
    .select2-selection--single{
      height: 33px;
    }
  }
  .select2-selection__rendered{
    @include fontOpenSans300;
    font-size: 16px;
    font-stretch: condensed;
    text-align: left;
    color: #000!important;
  }
  .select-box{
    width: 190px;
  }
}

.filter-mobile{
  width: 100%;
  position: relative;
  clear: both;
  height: 45px;
  background: white;
  padding: 0 30px;
  border-bottom: 1px solid #cdcdcd;
  .container-filter-mobile{
    width: 50%;
    float: left;
  }
  .container-sorting-mobile{
    width: 50%;
    float: right;
    clear: both;
  }
  .block-sorting-mobile{
    width: 100%;
    clear: both;
    position: relative;
    .select{
      float: right;
      @include fontTTRoundsCondensedR;
      font-size: 20px;
      font-stretch: condensed;
      color: #000000;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none!important;

      background-image: url('../img/shape.png');
      background-position: right center;
      background-repeat: no-repeat;
      height: 44px;
      padding: 0 22px 4px 10px;
      unicode-bidi: isolate;
      direction: rtl;
      border: none;
    }
  }
}

.row-block{
  .block-text-inside{
    @include display-inline-top;
    width: 32%;
    margin-bottom: 55px;
    .wrapper-text-inside{
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 210px;
      padding: 20px;
      position: relative;
      margin-bottom: 14px;
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        z-index: 2;
      }
      .block-info_text-section{
        @include fontTTRoundsCondensedR;
        font-size: 14px;
        font-stretch: condensed;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        background-color: #eb1c24;
        padding: 7px 29px;
        position: absolute;
        top: 20px;
        left: 20px;
        text-transform: uppercase;
        z-index: 2;
      }
      .block-text-insides{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        padding: 0 10px;
        .block-text-inside_title{
          @include fontTTRoundsCondensedB;
          font-size: 26px;
          font-stretch: condensed;
          line-height: 1.29;
          color: #fff;
          text-transform: uppercase;
        }
        .block-text-inside_txt{
          @include fontTTRoundsCondensedR;
          font-size: 22px;
          font-stretch: condensed;
          color: #fff;
        }
      }
    }
  }
  .block-text-inside:nth-child(3n+1){
    margin-right: 1%;
  }
  .block-text-inside:nth-child(3n+2){
    margin-left: 1%;
    margin-right: 1%;
  }
  .block-text-inside:nth-child(3n+3){
    margin-left: 1%;
  }
}

.wrapper-filter{
  font-size: 0;
  border-top: 1px solid #cdcdcd;
  margin-top: 16px;
  padding: 20px 0 0 0;
  margin-bottom: 40px;
  position: relative;
  .wrapper-filter-title{
    @include fontTTRoundsCondensedR;
    font-size: 16px;
    font-stretch: condensed;
    text-align: left;
    color: #000000;
    @include display-inline-middle;
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .block-filter{
    @include display-inline-middle;
    margin-right: 5px;
    margin-bottom: 15px;
  }
}

.button-dropdown{
  position: relative;
  .filter-clear{
    display: none;
  }
  .filter-clear.open-clear{
    cursor: pointer;
    border-left: 1px solid #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    i{
      background-image: url(../img/svg/combined-shape-c.svg);
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      background-position: 50%;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-repeat: no-repeat;
      opacity: .8;
    }
  }
  .SumoSelect{
    width: auto;
    cursor: pointer;
    &:hover{
      .CaptionCont{
        box-shadow: none;
      }
    }
    &:focus{
      .CaptionCont{
        box-shadow: none;
      }
    }
    .CaptionCont{
      background-color: inherit;
      border: none;
      padding: 6px 12px;
      span{
        padding-right: 20px;
        cursor: pointer;
        &:before{
          content: attr(data-before);
          display: none;
        }
      }
      .placeholder{
        @include fontTTRoundsCondensedR;
        font-size: 16px;
        font-stretch: condensed;
        text-align: left;
        color: #5e5e5e;
        font-style: normal;
      }
      .placeholder + label{
        cursor: pointer;
        i{
          width: 9px;
          height: 9px;
          opacity: 0.6;
        }
      }
    }
    .optWrapper{
      z-index: 3;
      width: 245px;
      .options{
        padding-top: 16px;
        padding-bottom: 16px;
        li.opt{
          @include fontTTRoundsCondensedR;
          font-size: 16px;
          font-stretch: condensed;
          text-align: left;
          color: #5e5e5e;
          border-bottom: none;
          padding: 7px 10px 7px 46px;
          &:hover{
            background-color: inherit;
            color: black;
          }
          span{
            i{
              border: 1px solid black;
              box-shadow: none;
              border-radius: 3px;
            }
          }
        }
        li.opt.selected{
          color: black;
          span{
            i{
              background-image: url("../img/svg/icon-check.svg");
              background-size: cover;
              width: 19px;
              height: 17px;
              background-repeat: no-repeat;
              border: none;
              background-color: inherit;
              margin-left: 8px;
            }
          }
        }
      }
      .MultiControls{
        padding: 20px;
        p{
          width: 40%;
          text-align: center;
        }
        .btnOk{
          background-color: #39b54a;
          @include fontTTRoundsCondensedR;
          font-size: 16px;
          font-stretch: condensed;
          color: white;
          border-radius: 3px !important;
          border-right: 0 !important;
          padding: 8px 12px !important;
          width: 100px;
          &:hover{
            background-color: #1ea931;
          }
          &:focus{
            background-color: #139f27;
          }
        }
        .btnCancel{
          @include fontTTRoundsCondensedR;
          font-size: 16px;
          font-stretch: condensed;
          color: #5e5e5e;
          width: 80px;
          float: right;
          &:hover{
            background-color: inherit;
            color: black;
          }
          &:focus{
            background-color: inherit;
            color: black;
          }
        }
      }
    }
  }
  .SumoSelect.open{
    .CaptionCont{
      box-shadow: none;
    }
  }
  .SelectBox.filter-true{
    border-radius: 3px;
    background-color: #b5b3b3;
    @include fontTTRoundsCondensedR;
    font-size: 16px;
    font-stretch: condensed;
    text-align: left;
    color: white;
    font-style: normal;
    span{
      padding-right: 30px;
      &:before{
        content: attr(data-before);
        display: inline-block;
      }
    }
    label{
      cursor: pointer;
      border-left: 1px solid white;
      i{
        background-image: url("../img/svg/combined-shape-c.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 11px;
        height: 11px;
      }
    }
  }
}

.filter-button-dropdown{
  position: relative;
  cursor: pointer;
  display: block;
  padding: 0 20px 0 0;
  &:after{
    content: '';
    display: block;
    background-image: url("../img/svg/shape.svg");
    width: 10px;
    height: 5px;
    position: absolute;
    top: 9px;
    right: 0;
  }
  .filter_title{
    @include fontTTRoundsCondensedR;
    font-size: 16px;
    font-stretch: condensed;
    text-align: left;
    color: #5e5e5e;
    &:hover{
      color: #000000;
    }
  }
}

.button-reset-filter.open-reset-filter{
  @include display-inline-middle;
}

.button-reset-filter{
  display: none;
  @include fontTTRoundsCondensedR;
  font-size: 16px;
  font-stretch: condensed;
  text-align: left;
  color: #5e5e5e;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 15px;

  &:before{
    content: '';
    display: inline-block;
    background-image: url("../img/svg/combined-shape-copy.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 11px;
    height: 11px;
    margin-right: 12px;
  }
  &:hover{
    color: #000000;
  }
}

.wrapper-product-subbrand{
  width: 100%;
  font-size: 0;
  padding-bottom: 30px;
  .block-product-subbrand{
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .wrapper-content-text{
    padding: 0;
    float: right;
    width: 50%;
  }
}

.block-product-subbrand_title{
  @include fontTTRoundsCondensedR;
  font-size: 24px;
  font-stretch: condensed;
  line-height: 1.5;
  text-align: left;
  color: #000;
  width: 50%;
  float: left;
  padding-right: 30px;
}

.block-product-subbrand_doc{
  font-size: 0;
  width: 100%;
  margin-top: 80px;
}

.block-doc, .block-doc .block-doc_icon{
  @include display-inline-top;
  margin-bottom: 10px;
}

.block-doc {
  margin-right: 35px;
  .block-doc_icon.catalog{
    background-image: url(../img/svg/catalog.svg);
    width: 24px;
    height: 30px;
    object-fit: contain;
  }
  .block-doc_icon{
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-right: 15px;
  }
  .block-doc-info{
    @include display-inline-top;
    .block-doc-info_title{
      width: 100%;
      @include fontOpenSans300;
      font-size: 16px;
      line-height: 1.88;
      text-align: left;
      color: #39b54a;
    }
    .block-doc-info_r{
      width: 100%;;
      @include fontOpenSans300;
      font-size: 12px;
      line-height: 1.17;
      text-align: left;
      color: #b5b3b3;
    }
  }
  .block-doc_icon.archiv{
    background-image: url(../img/svg/arhive.svg);
    width: 24px;
    height: 31px;
    object-fit: contain;
  }
}






.container-product-brand{
  width: 100%;
  font-size: 0;
}

.block-product-brand{
  position: relative;
  @include display-inline-top;
  width: 49%;
  margin-bottom: 40px;
  &:nth-child(2n +1){
    margin-right: 1%;
  }
  &:nth-child(2n){
    margin-left: 1%;
  }
  .block-state{
    width: 100%;
    position: relative;
    background-color: white;
    padding: 20px 30px;
    min-height: 150px;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .block-product-brand-title{
    @include fontOpenSans300;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: black;
    padding: 20px 20px;
  }
}

.block-btn-state{
  position: absolute;
  top: 14px;
  right: 10px;
  z-index: 2;
  .btn-state{
    width: 52px;
    height: 97px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 15px auto;
    position: relative;
    .btn-click{
      position: absolute;
      width: 34px;
      height: 34px;
      cursor: pointer;
    }
  }
  .btn-yp{
    @include fontOpenSans300;
    font-size: 10px;
    text-align: center;
    color: #b5b3b3;
    text-transform: uppercase;
    .icon-yp{
      background-image: url("../img/svg/icon-yp.svg");
      width: 34px;
      height: 34px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 auto 6px auto;
    }

  }
}

.block-product-brand.grin{
  .block-state.grin{
    display: block;
  }
  .block-state.blue{
    display: none;
  }
  .block-btn-state{
    .btn-state{
      background-image: url("../img/svg/sw.svg");
      .btn-click{
        bottom: 10px;
        left: 10px;
      }
    }
  }
  .brand-info-hiden_list{
    .icon-calories{
      background-image: url("../img/svg/icon-green-1.svg");
    }
    .icon-fats{
      background-image: url("../img/svg/icon-green-2.svg");
    }
    .icon-proteins{
      background-image: url("../img/svg/icon-green-3.svg");
    }
  }
}

.block-product-brand.blue{
  .block-state.grin{
    display: none;
  }
  .block-state.blue{
    display: block;
  }
  .block-btn-state{
    .btn-state{
      background-image: url("../img/svg/group.svg");
      .btn-click{
        top: 10px;
        left: 10px;
      }
    }
  }
  .brand-info-hiden_list{
    .icon-calories{
      background-image: url("../img/svg/icon-blue-1.svg");
    }
    .icon-fats{
      background-image: url("../img/svg/icon-blue-2.svg");
    }
    .icon-proteins{
      background-image: url("../img/svg/icon-blue-3.svg");
    }
  }
}

.block-product-brand.grin-one{
  .block-btn-state{
    top: 20px;
    .btn-state{
      width: 36px;
      height: 36px;
      background-image: url("../img/svg/icon-one.svg");
      .btn-click{
        display: none;
      }
    }
  }
  .brand-info-hiden_list{
    .icon-calories{
      background-image: url("../img/svg/icon-green-1.svg");
    }
    .icon-fats{
      background-image: url("../img/svg/icon-green-2.svg");
    }
    .icon-proteins{
      background-image: url("../img/svg/icon-green-3.svg");
    }
  }
}

.block-product-brand.blue-one{
  .block-btn-state{
    top: 20px;
    .btn-state{
      width: 36px;
      height: 36px;
      background-image: url("../img/svg/icon-one-blue.svg");
      .btn-click{
        display: none;
      }
    }
  }
  .brand-info-hiden_list{
    .icon-calories{
      background-image: url("../img/svg/icon-blue-1.svg");
    }
    .icon-fats{
      background-image: url("../img/svg/icon-blue-2.svg");
    }
    .icon-proteins{
      background-image: url("../img/svg/icon-blue-3.svg");
    }
  }
}


.block-product-brand-info{
  width: 100%;
}

.brand-info-show{
  padding-top: 25px;
  padding-bottom: 17px;
  .swiper-container-product{
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide{
    text-align: center;
    img{
      margin: 0 auto;
    }
  }
  .swiper-pagination{
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 4px;
    height: 30px;
    .swiper-pagination_list{
      width: 7px;
      height: 7px;
      background-color: #afadaa;
      object-fit: contain;
      cursor: pointer;
      border-radius: 50%;
      @include display-inline-middle;
      margin: 0 3px;
      border: 10px solid white;
      box-sizing: content-box;
      &:hover{
        background: #eb1c24;
      }
    }
    .swiper-pagination_list.active-list{
      width: 10px;
      height: 10px;
      object-fit: contain;
      background: #eb1c24;
    }
    .swiper-pagination-bullet{
      margin: 0 12px;
    }
  }
  .swiper-pagination-bullet-active{
    opacity: 1;
    background: #eb1c24;
    width: 10px;
    height: 10px;
  }
}

.brand-info-hiden{
  position: relative;
  background-color: white;
  width: 100%;
  //box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
  .brand-info-hiden_title{
    @include fontOpenSans300;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;
  }
  .brand-info-hiden_txt{
    @include fontOpenSans300;
    font-size: 16px;
    line-height: 1.56;
    text-align: left;
    color: #5e5e5e;
    margin-bottom: 9px;
  }
  .brand-info-hiden_list{
    font-size: 0;
    @include display-inline-top;
    margin-right: 20px;
    .brand-info-hiden_list-icon{
      @include display-inline-middle;
      width: 30px;
      height: 30px;
      margin-right: 6px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .brand-info-hiden_list-text{
      @include display-inline-middle;
      .brand-info-hiden_list-txt{
        @include fontOpenSans300;
        font-size: 12px;
        text-align: left;
        color: #b5b3b3;
        text-transform: uppercase;
      }
      .brand-info-hiden_list-number{
        @include fontOpenSans300;
        font-size: 16px;
        line-height: 1.25;
        text-align: left;
        color: #5e5e5e;
      }
    }
  }
}

.container-filter{
  width: 100%;
  position: relative;
  clear: both;
}

.container-filter.add-container-sort{
  .wrapper-filter{
    font-size: 0;
    margin-bottom: 20px;
  }
  .wrapper-filter-multiple{
    width: 63%;
    position: relative;
    @include display-inline-top;
  }
  .container-sorting{
    width: 37%;
    @include display-inline-top;
    position: relative;
    text-align: right;
    top: 0;
  }
}
.wrapper-product-subbrand+.container-filter{
  .wrapper-filter{
    padding: 40px 0 0;
  }
}
