section.container-central-unit
    .wrapper-central-unit
        .container-row
            .container-link-anchor
                ul
                    li
                        a(href='#production-cycle').link-anchor-menu Замкнутый цикл производства

                    li
                        a(href='#innovations').link-anchor-menu Инновации

                    li
                        a(href='#certificates').link-anchor-menu Сертификаты

                    li
                        a(href='#environment').link-anchor-menu Забота об окружающей среде

            .container-production-cycle#production-cycle
                .wrapper-content_title Замкнутый цикл производства
                .container-production-cycle_slider
                    .wrapper-slider-production
                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Мы производим натуральные сбалансированные корма на основе пшеницы и кукурузы.
                                    p Цыплята получают весь комплекс витаминов и микроэлементов, которые положительно влияют на их здоровье и рост.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо2 — ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня. Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо2 — ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня. Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия.

                        div
                            .box-slider-production
                                .container-content-txt
                                    .container-content-txt_bold Родительское стадо — это важнейший ресурс птицефабрики для обеспечения ее непрерывного роста и гарантии стабильности.
                                    p Для инкубации был построен первый в Беларуси современный инкубатор, запущенный в 2007 году с использованием оборудования компании Питерсайм, Бельгия. Инкубатор позволяет контролировать выращивание цыплят с самого первого их дня.

                .container-production-cycle_schedule
                    .block-cycle_schedule
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="450px" height="460px" viewBox="0 0 450 460" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
                        <title>Form</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                        <circle id="path-1" cx="293" cy="235" r="120"></circle>
                        <filter x="-13.5%" y="-11.5%" width="127.1%" height="127.1%" filterUnits="objectBoundingBox" id="filter-2">
                        <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                        </defs>
                        <g id="100%" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="100%_20-10" transform="translate(-984.000000, -500.000000)">
                        <g id="Cycle" transform="translate(250.000000, 250.000000)">
                        <g id="Group-5">
                        <g id="Cycle" transform="translate(666.000000, 250.000000)">
                        <g id="Form">
                        <circle id="Oval" fill="#F7F7F7" cx="293" cy="235" r="225"></circle>
                        <g id="1" transform="translate(293.000000, 0.000000)" class="btn-cycle op-100" data-cycle-txt="Собственные корма" data-cycle-eq="0">
                        <path class="block-point" d="M222.5,162.5 C211.330777,118.998817 140.5,1.5 0.115106274,0 C-0.143882842,116.027124 0.115106274,172.51887 0.115106274,235.026127 C219.5,163.5 11,231.5 222.5,162.5 Z" fill="#39B54A" opacity="0"></path>
                        <path class="block-point-icon ic-1" d="M108.9186,109.0746 C106.7906,111.2086 102.0776,110.5226 100.5336,110.1546 C100.0976,108.7746 99.5276,104.0956 101.7336,101.8896 C103.8756,99.7506 109.0056,99.8206 110.7916,100.0186 C110.9976,101.8016 111.0606,106.9346 108.9186,109.0746 M97.4196,110.1396 C95.9426,110.5026 91.1336,111.2366 88.9726,109.0746 C86.8256,106.9306 86.8956,101.7976 87.1026,100.0186 C88.8726,99.8166 94.0096,99.7486 96.1566,101.8896 C98.4236,104.1576 97.7586,109.0496 97.4196,110.1396 M87.1026,87.5736 C88.8796,87.3716 94.0156,87.3016 96.1566,89.4446 C98.4206,91.7056 97.7606,96.5806 97.4126,97.6936 C95.9296,98.0596 91.1326,98.7886 88.9726,96.6286 C86.8256,94.4816 86.8956,89.3496 87.1026,87.5736 M99.0656,74.2176 C100.4676,75.3346 104.1466,78.9146 104.1466,81.9476 C104.1466,84.9576 100.3306,87.8076 98.9786,88.6396 C97.6936,87.9726 93.9836,85.0636 93.9836,81.9476 C93.9836,78.9146 97.6646,75.3346 99.0656,74.2176 M110.7916,87.5736 C110.9976,89.3536 111.0606,94.4856 108.9186,96.6286 C106.7826,98.7646 102.0746,98.0766 100.5336,97.7096 C100.0996,96.3316 99.5276,91.6506 101.7336,89.4446 C103.8756,87.3016 109.0056,87.3716 110.7916,87.5736 M110.4056,97.9766 C113.6326,94.6316 113.0756,86.7276 112.3566,85.9996 C111.8756,85.5236 108.2066,85.1246 104.8206,85.8586 C105.6086,84.6716 106.1576,83.3416 106.1576,81.9476 C106.1576,77.2596 100.0846,71.9996 99.0656,71.9996 C98.0446,71.9996 91.9696,77.2596 91.9696,81.9476 C91.9696,83.3736 92.4786,84.7046 93.2166,85.8846 C89.7876,85.1026 86.0156,85.5186 85.5326,86.0026 C84.7986,86.7386 85.0356,90.9756 85.0406,91.0166 C85.1796,93.1946 85.7236,96.1496 87.4816,97.9706 C86.4626,98.0736 85.7266,98.2566 85.5326,98.4506 C84.7986,99.1866 85.0356,103.4216 85.0406,103.4646 C85.1816,105.6726 85.7336,108.6806 87.5486,110.4966 C89.1496,112.0956 91.6446,112.5756 93.8836,112.5716 C95.6146,112.5716 97.1736,112.2886 98.0616,112.0206 L98.0616,119.3916 L100.0716,119.3916 L100.0716,112.1036 C101.2276,112.3876 102.9976,112.5426 103.5666,112.5606 C103.7556,112.5656 103.9396,112.5696 104.1216,112.5696 C106.8386,112.5696 108.9806,111.8596 110.3406,110.4966 C113.6456,107.1956 113.0816,99.1806 112.3566,98.4466 C112.1586,98.2546 111.4246,98.0756 110.4056,97.9766" id="Fill-1" fill="#39B54A"></path>
                        </g>
                        <g id="5" transform="translate(70.000000, 0.000000)" class="btn-cycle" data-cycle-txt="Ежедневная доставка" data-cycle-eq="4">
                        <path class="block-point" d="M222.5,162.5 C211.330777,118.998817 140.5,1.5 0.115106274,0 C-0.143882842,116.027124 0.115106274,172.51887 0.115106274,235.026127 C219.5,163.5 11,231.5 222.5,162.5 Z" fill="#39B54A" opacity="0" transform="translate(111.250000, 117.513064) scale(-1, 1) translate(-111.250000, -117.513064) "></path>
                        <g class="block-point-icon" id="Page-5" transform="translate(90.000000, 76.000000)">
                        <path d="M8.414,37.1585 L48.268,37.1585 L48.268,13.2005 L8.414,13.2005 L8.414,37.1585 Z M49.281,39.1865 L7.401,39.1865 C6.84,39.1865 6.387,38.7315 6.387,38.1705 L6.387,12.1845 C6.387,11.6265 6.84,11.1715 7.401,11.1715 L49.281,11.1715 C49.841,11.1715 50.297,11.6265 50.297,12.1845 L50.297,38.1705 C50.297,38.7315 49.841,39.1865 49.281,39.1865 L49.281,39.1865 Z" id="Fill-1" fill="#39B54A"></path>
                        <path d="M8.414,37.1585 L48.268,37.1585 L48.268,13.2005 L8.414,13.2005 L8.414,37.1585 Z M49.281,39.1865 L7.401,39.1865 C6.84,39.1865 6.387,38.7315 6.387,38.1705 L6.387,12.1845 C6.387,11.6265 6.84,11.1715 7.401,11.1715 L49.281,11.1715 C49.841,11.1715 50.297,11.6265 50.297,12.1845 L50.297,38.1705 C50.297,38.7315 49.841,39.1865 49.281,39.1865 Z" id="Stroke-3" stroke="#39B54A" stroke-width="0.212"></path>
                        <path d="M2.5812,11.1713 L53.4292,11.1713 L47.4452,2.0263 L8.5632,2.0263 L2.5812,11.1713 Z M54.9952,13.1983 L1.0132,13.1983 C0.6682,13.1983 0.3472,13.0263 0.1642,12.7343 C-0.0248,12.4453 -0.0518,12.0813 0.0902,11.7693 L6.9842,0.5973 C7.1472,0.2343 7.5112,0.0003 7.9092,0.0003 L48.0992,0.0003 C48.4972,0.0003 48.8592,0.2343 49.0242,0.5973 L55.9182,11.7693 C56.0592,12.0813 56.0332,12.4453 55.8462,12.7343 C55.6592,13.0263 55.3392,13.1983 54.9952,13.1983 L54.9952,13.1983 Z" id="Fill-4" fill="#39B54A"></path>
                        <polyline id="Stroke-5" stroke="#39B54A" stroke-width="0.212" points="2.5812 11.1713 53.4292 11.1713 47.4452 2.0263"></polyline>
                        <path d="M28.6671,38.5077 C28.1071,38.5077 27.6531,38.0547 27.6531,37.4937 L27.6531,19.9277 L15.8271,19.9277 L15.8271,37.4937 C15.8271,38.0547 15.3741,38.5077 14.8161,38.5077 C14.2551,38.5077 13.8011,38.0547 13.8011,37.4937 L13.8011,18.9147 C13.8011,18.3547 14.2551,17.9007 14.8161,17.9007 L28.6671,17.9007 C29.2281,17.9007 29.6801,18.3547 29.6801,18.9147 L29.6801,37.4937 C29.6801,38.0547 29.2281,38.5077 28.6671,38.5077" id="Fill-6" fill="#39B54A"></path>
                        <path d="M29.6803,18.9145 L29.6803,37.4945" id="Stroke-7" stroke="#39B54A" stroke-width="0.212"></path>
                        <path d="M35.578,26.5165 L40.789,26.5165 L40.789,19.9295 L35.578,19.9295 L35.578,26.5165 Z M41.803,28.5435 L34.565,28.5435 C34.004,28.5435 33.551,28.0905 33.551,27.5305 L33.551,18.9145 C33.551,18.3545 34.004,17.9005 34.565,17.9005 L41.803,17.9005 C42.363,17.9005 42.816,18.3545 42.816,18.9145 L42.816,27.5305 C42.816,28.0905 42.363,28.5435 41.803,28.5435 L41.803,28.5435 Z" id="Fill-8" fill="#39B54A"></path>
                        <polyline id="Stroke-9" stroke="#39B54A" stroke-width="0.212" points="35.5778 19.9296 35.5778 26.5166 40.7888 26.5166"></polyline>
                        </g>
                        </g>
                        <g id="2" transform="translate(293.000000, 163.000000)" class="btn-cycle" data-cycle-txt="Инкубаторий" data-cycle-eq="1">
                        <path class="block-point" d="M257.389706,187.105507 C246.220483,143.604325 175.389706,26.1055075 35.0048119,24.6055075 C34.7458227,140.632631 35.0048119,197.124377 35.0048119,259.631635 C254.389706,188.105507 45.8897056,256.105507 257.389706,187.105507 Z" fill="#39B54A" opacity="0" transform="translate(146.139706, 142.118571) rotate(72.000000) translate(-146.139706, -142.118571) "></path>
                        <g class="block-point-icon" id="Page-2" transform="translate(137.000000, 97.000000)">
                        <path d="M40.2287,17.9408 C37.4397,29.7358 29.3527,36.3138 18.1017,35.8438 C11.0797,35.5858 6.6987,30.9008 5.0937,28.8228 C6.1207,28.3968 7.6827,27.7138 9.2687,26.9028 C13.6927,29.1688 18.5057,31.0908 20.7197,31.0908 C26.6707,31.0908 31.5137,26.2498 31.5137,20.2988 C31.5137,14.3498 26.6707,9.5058 20.7197,9.5058 C20.4057,9.5058 20.0397,9.5448 19.6377,9.6138 C21.2657,6.2908 23.6977,2.8528 29.6837,2.1938 C33.1937,1.8058 36.3597,2.8988 38.3827,5.1828 C40.8937,8.0178 41.5307,12.4298 40.2287,17.9408 M20.7197,11.5918 C25.5227,11.5918 29.4267,15.4978 29.4267,20.2988 C29.4267,25.0998 25.5227,29.0038 20.7197,29.0038 C16.2837,29.0038 4.9477,22.3368 2.4877,20.2698 C4.8417,18.2348 16.1837,11.5918 20.7197,11.5918 M48.2417,12.4378 C48.2417,11.5128 44.5937,10.4238 42.6377,9.9058 C42.1587,7.1098 41.0347,5.1418 39.8897,3.8518 C37.4287,1.0648 33.6177,-0.2602 29.4607,0.1928 C21.4647,1.0718 18.8137,6.4778 17.1137,10.2608 C10.6257,12.3568 0.1057,18.2408 0.1057,20.2988 C0.1057,21.3678 3.2107,23.5868 7.0797,25.7398 C4.9957,26.7288 3.2037,27.4118 3.1827,27.4188 L2.0567,27.8438 L2.6727,28.8738 C2.8837,29.2268 7.9187,37.4838 18.0277,37.8578 C18.3807,37.8678 18.7317,37.8748 19.0797,37.8748 C19.5237,37.8748 19.9567,37.8448 20.3907,37.8228 L20.3907,42.3828 L17.6887,42.3828 L17.6887,44.3948 L27.8117,44.3948 L27.8117,42.3828 L22.4027,42.3828 L22.4027,37.6488 C32.3157,36.3888 39.5717,29.4588 42.1847,18.4028 C42.5067,17.0458 42.6727,15.8238 42.7767,14.6658 C44.7627,14.2298 48.2417,13.3398 48.2417,12.4378" id="Fill-1" fill="#39B54A"></path>
                        <path d="M40.2287,17.9408 C37.4397,29.7358 29.3527,36.3138 18.1017,35.8438 C11.0797,35.5858 6.6987,30.9008 5.0937,28.8228 C6.1207,28.3968 7.6827,27.7138 9.2687,26.9028 C13.6927,29.1688 18.5057,31.0908 20.7197,31.0908 C26.6707,31.0908 31.5137,26.2498 31.5137,20.2988 C31.5137,14.3498 26.6707,9.5058 20.7197,9.5058 C20.4057,9.5058 20.0397,9.5448 19.6377,9.6138 C21.2657,6.2908 23.6977,2.8528 29.6837,2.1938 C33.1937,1.8058 36.3597,2.8988 38.3827,5.1828 C40.8937,8.0178 41.5307,12.4298 40.2287,17.9408 Z M20.7197,11.5918 C25.5227,11.5918 29.4267,15.4978 29.4267,20.2988 C29.4267,25.0998 25.5227,29.0038 20.7197,29.0038 C16.2837,29.0038 4.9477,22.3368 2.4877,20.2698 C4.8417,18.2348 16.1837,11.5918 20.7197,11.5918 Z M48.2417,12.4378 C48.2417,11.5128 44.5937,10.4238 42.6377,9.9058 C42.1587,7.1098 41.0347,5.1418 39.8897,3.8518 C37.4287,1.0648 33.6177,-0.2602 29.4607,0.1928 C21.4647,1.0718 18.8137,6.4778 17.1137,10.2608 C10.6257,12.3568 0.1057,18.2408 0.1057,20.2988 C0.1057,21.3678 3.2107,23.5868 7.0797,25.7398 C4.9957,26.7288 3.2037,27.4118 3.1827,27.4188 L2.0567,27.8438 L2.6727,28.8738 C2.8837,29.2268 7.9187,37.4838 18.0277,37.8578 C18.3807,37.8678 18.7317,37.8748 19.0797,37.8748 C19.5237,37.8748 19.9567,37.8448 20.3907,37.8228 L20.3907,42.3828 L17.6887,42.3828 L17.6887,44.3948 L27.8117,44.3948 L27.8117,42.3828 L22.4027,42.3828 L22.4027,37.6488 C32.3157,36.3888 39.5717,29.4588 42.1847,18.4028 C42.5067,17.0458 42.6727,15.8238 42.7767,14.6658 C44.7627,14.2298 48.2417,13.3398 48.2417,12.4378 Z" id="Stroke-3" stroke="#39B54A" stroke-width="0.212"></path>
                        <path d="M33.4708,7.1356 C32.3428,7.1356 31.4268,8.0506 31.4268,9.1786 C31.4268,10.3086 32.3428,11.2226 33.4708,11.2226 C34.6028,11.2226 35.5138,10.3086 35.5138,9.1786 C35.5138,8.0506 34.6028,7.1356 33.4708,7.1356" id="Fill-5" fill="#39B54A"></path>
                        <path d="M33.4708,7.1356 C32.3428,7.1356 31.4268,8.0506 31.4268,9.1786 C31.4268,10.3086 32.3428,11.2226 33.4708,11.2226" id="Stroke-7" stroke="#39B54A" stroke-width="0.212"></path>
                        </g>
                        </g>
                        <g id="4" transform="translate(0.000000, 163.000000)" class="btn-cycle" data-cycle-txt="Переработка" data-cycle-eq="3">
                        <path class="block-point" d="M257.389706,187.105507 C246.220483,143.604325 175.389706,26.1055075 35.0048119,24.6055075 C34.7458227,140.632631 35.0048119,197.124377 35.0048119,259.631635 C254.389706,188.105507 45.8897056,256.105507 257.389706,187.105507 Z" fill="#39B54A" opacity="0" transform="translate(146.139706, 142.118571) scale(-1, 1) rotate(72.000000) translate(-146.139706, -142.118571) "></path>
                        <g class="block-point-icon ic-1" id="Page-4" transform="translate(102.000000, 94.000000)">
                        <polygon id="Fill-1" fill="#39B54A" points="6.395 47.0155 45.043 47.0155 45.043 45.0055 6.395 45.0055"></polygon>
                        <g id="Group-6" transform="translate(0.000000, 0.121500)">
                        <polygon id="Stroke-2" stroke="#39B54A" stroke-width="0.212" points="6.394 46.894 45.042 46.894 45.042 44.884 6.394 44.884"></polygon>
                        <path d="M53.5203,13.0667 C53.4943,13.0667 53.4643,13.0667 53.4383,13.0647 C52.6373,13.0377 51.9153,12.6467 51.4523,11.9937 C51.4303,11.9607 51.3953,11.9437 51.3713,11.9187 L50.1813,10.6087 L45.9843,14.4357 L44.1573,12.3957 L48.3103,8.8337 C48.3103,8.8337 47.0503,7.7117 46.6613,6.6037 C46.5103,6.1757 46.4933,5.7417 46.5013,5.4437 C46.5473,4.0477 47.7313,2.8867 49.1133,3.0017 C50.5053,3.0437 51.6023,4.2137 51.5553,5.6087 C51.5413,6.0267 51.4163,6.4357 51.1843,6.8197 C50.9533,7.1987 50.9983,7.6817 51.2913,8.0107 C51.5903,8.3417 52.0663,8.4437 52.4653,8.2547 C52.8443,8.0827 53.2183,7.9797 53.6053,8.0107 C54.2783,8.0327 54.9053,8.3157 55.3693,8.8097 C55.8303,9.3037 56.0743,9.9467 56.0473,10.6217 C56.0033,11.9847 54.8753,13.0667 53.5203,13.0667 M43.4953,40.0407 L6.3723,40.0407 C6.2803,39.9427 2.6343,35.9577 2.1703,30.4987 C1.7033,25.0207 4.3993,19.7057 9.5583,15.9257 C18.9603,9.0427 27.1723,8.2377 34.6663,13.4627 L34.9633,13.6707 L42.0673,13.0757 L45.0483,16.4137 C44.7113,18.7627 42.6293,29.9937 33.9493,29.9937 C25.8273,29.9937 24.6473,21.9827 24.6023,21.6397 L22.6053,21.9067 C22.6223,22.0057 24.0453,32.0047 33.9493,32.0047 C40.0973,32.0047 43.4163,27.5077 45.1893,23.3077 C50.8923,32.2137 44.4673,39.0877 43.4953,40.0407 M56.8353,7.4337 C56.0053,6.5497 54.8823,6.0397 53.6733,6.0007 C53.6323,6.0007 53.5863,5.9987 53.5433,5.9987 C53.5563,5.8917 53.5643,5.7827 53.5683,5.6747 C53.6493,3.1727 51.6813,1.0697 49.1793,0.9847 C46.7493,0.9397 44.5753,2.8737 44.4903,5.3757 C44.4473,6.6557 44.8133,7.7577 45.5143,8.5787 L42.6813,11.0067 L35.5153,11.6077 C27.4163,6.1297 18.2913,7.0377 8.3713,14.3017 C2.6273,18.5067 -0.3627,24.4747 0.1653,30.6687 C0.5283,34.9087 2.5223,38.2647 3.8113,40.0407 L0.6913,40.0407 L0.6913,42.0517 L50.7483,42.0517 L50.7483,40.0407 L46.1333,40.0407 C48.5003,36.9467 52.4573,29.6747 46.1413,21.0927 L45.9783,21.2117 C46.8413,18.5347 47.0853,16.3897 47.1043,16.2157 L50.1023,13.4847 C50.9283,14.4457 52.0843,15.0327 53.3703,15.0787 L53.5203,15.0787 C55.9553,15.0787 57.9783,13.1387 58.0603,10.6887 C58.0983,9.4777 57.6643,8.3197 56.8353,7.4337" id="Fill-4" fill="#39B54A"></path>
                        <path d="M53.5203,13.0667 C53.4943,13.0667 53.4643,13.0667 53.4383,13.0647 C52.6373,13.0377 51.9153,12.6467 51.4523,11.9937 C51.4303,11.9607 51.3953,11.9437 51.3713,11.9187 L50.1813,10.6087 L45.9843,14.4357 L44.1573,12.3957 L48.3103,8.8337 C48.3103,8.8337 47.0503,7.7117 46.6613,6.6037 C46.5103,6.1757 46.4933,5.7417 46.5013,5.4437 C46.5473,4.0477 47.7313,2.8867 49.1133,3.0017 C50.5053,3.0437 51.6023,4.2137 51.5553,5.6087 C51.5413,6.0267 51.4163,6.4357 51.1843,6.8197 C50.9533,7.1987 50.9983,7.6817 51.2913,8.0107 C51.5903,8.3417 52.0663,8.4437 52.4653,8.2547 C52.8443,8.0827 53.2183,7.9797 53.6053,8.0107 C54.2783,8.0327 54.9053,8.3157 55.3693,8.8097 C55.8303,9.3037 56.0743,9.9467 56.0473,10.6217 C56.0033,11.9847 54.8753,13.0667 53.5203,13.0667 Z M43.4953,40.0407 L6.3723,40.0407 C6.2803,39.9427 2.6343,35.9577 2.1703,30.4987 C1.7033,25.0207 4.3993,19.7057 9.5583,15.9257 C18.9603,9.0427 27.1723,8.2377 34.6663,13.4627 L34.9633,13.6707 L42.0673,13.0757 L45.0483,16.4137 C44.7113,18.7627 42.6293,29.9937 33.9493,29.9937 C25.8273,29.9937 24.6473,21.9827 24.6023,21.6397 L22.6053,21.9067 C22.6223,22.0057 24.0453,32.0047 33.9493,32.0047 C40.0973,32.0047 43.4163,27.5077 45.1893,23.3077 C50.8923,32.2137 44.4673,39.0877 43.4953,40.0407 Z M56.8353,7.4337 C56.0053,6.5497 54.8823,6.0397 53.6733,6.0007 C53.6323,6.0007 53.5863,5.9987 53.5433,5.9987 C53.5563,5.8917 53.5643,5.7827 53.5683,5.6747 C53.6493,3.1727 51.6813,1.0697 49.1793,0.9847 C46.7493,0.9397 44.5753,2.8737 44.4903,5.3757 C44.4473,6.6557 44.8133,7.7577 45.5143,8.5787 L42.6813,11.0067 L35.5153,11.6077 C27.4163,6.1297 18.2913,7.0377 8.3713,14.3017 C2.6273,18.5067 -0.3627,24.4747 0.1653,30.6687 C0.5283,34.9087 2.5223,38.2647 3.8113,40.0407 L0.6913,40.0407 L0.6913,42.0517 L50.7483,42.0517 L50.7483,40.0407 L46.1333,40.0407 C48.5003,36.9467 52.4573,29.6747 46.1413,21.0927 L45.9783,21.2117 C46.8413,18.5347 47.0853,16.3897 47.1043,16.2157 L50.1023,13.4847 C50.9283,14.4457 52.0843,15.0327 53.3703,15.0787 L53.5203,15.0787 C55.9553,15.0787 57.9783,13.1387 58.0603,10.6887 C58.0983,9.4777 57.6643,8.3197 56.8353,7.4337 Z" id="Stroke-5" stroke="#39B54A" stroke-width="0.212"></path>
                        </g>
                        </g>
                        </g>
                        <g id="3" transform="translate(113.000000, 235.000000)" class="btn-cycle" data-cycle-txt="Выращивание" data-cycle-eq="2" >
                        <path class="block-point" d="M270.325586,205.448111 C259.156364,161.946929 188.325586,44.4481112 47.9406927,42.9481112 C47.6817036,158.975235 47.9406927,215.466981 47.9406927,277.974239 C267.325586,206.448111 58.8255864,274.448111 270.325586,205.448111 Z" fill="#39B54A" opacity="0" transform="translate(159.075586, 160.461175) rotate(144.000000) translate(-159.075586, -160.461175) "></path>
                        <g class="block-point-icon ic-1" id="Page-3" transform="translate(156.000000, 142.000000)">
                        <polygon id="Fill-1" fill="#39B54A" points="0 38.8653 47.358 38.8653 47.358 36.9603 0 36.9603"></polygon>
                        <path d="M47.358,38.8653 L0,38.8653" id="Stroke-2" stroke="#39B54A" stroke-width="0.212"></path>
                        <polygon id="Fill-4" fill="#39B54A" points="5.398 43.4713 41.961 43.4713 41.961 41.5683 5.398 41.5683"></polygon>
                        <polygon id="Stroke-5" stroke="#39B54A" stroke-width="0.212" points="5.398 43.4713 41.961 43.4713 41.961 41.5683 5.398 41.5683"></polygon>
                        <polygon id="Fill-6" fill="#39B54A" points="10.796 48.0023 36.567 48.0023 36.567 46.0993 10.796 46.0993"></polygon>
                        <g id="Group-17" transform="translate(1.000000, 0.108300)">
                        <polygon id="Stroke-7" stroke="#39B54A" stroke-width="0.212" points="9.797 47.894 35.568 47.894 35.568 45.992 9.797 45.992"></polygon>
                        <path d="M4.0709,38.2482 C-3.4151,29.0982 2.5149,19.4652 2.5749,19.3692 L3.3389,18.1612 L4.1599,19.3332 C4.3259,19.5702 8.3049,25.1122 16.8639,25.1122 C23.7419,25.1122 26.5149,18.0132 27.5559,15.3392 L27.7209,14.9252 C27.8469,14.6082 27.9839,14.1892 28.1449,13.7022 C29.1889,10.5372 31.3629,3.9472 37.6779,3.6162 C43.0959,3.2872 45.1229,7.2452 45.4119,9.3562 L45.5919,10.6692 L44.2879,10.4222 C44.1289,10.3882 40.2339,9.6822 39.1749,12.5852 C38.5879,14.2202 39.6639,16.8812 40.8089,19.7002 C41.9459,22.5092 43.1209,25.4102 43.1209,28.2062 C43.1209,34.0982 39.1109,38.0102 38.9389,38.1742 L37.6229,36.8022 C37.6579,36.7692 41.2169,33.2642 41.2169,28.2062 C41.2169,25.7822 40.1139,23.0542 39.0469,20.4172 C37.7609,17.2482 36.5489,14.2572 37.3889,11.9382 C38.3969,9.1452 41.0989,8.4142 43.1559,8.4142 L43.1629,8.4142 C42.5969,7.1282 41.1509,5.3642 37.7779,5.5182 C32.7619,5.7802 31.0059,11.1132 29.9519,14.3002 C29.7779,14.8292 29.6259,15.2852 29.4879,15.6312 L29.3309,16.0342 C28.2699,18.7492 25.0419,27.0162 16.8639,27.0162 C9.6829,27.0162 5.3629,23.4672 3.5639,21.5732 C2.3709,24.1842 0.3259,30.6662 5.5429,37.0422 L4.0709,38.2482 Z" id="Fill-9" fill="#39B54A"></path>
                        <path d="M4.0709,38.2482 C-3.4151,29.0982 2.5149,19.4652 2.5749,19.3692 L3.3389,18.1612 L4.1599,19.3332 C4.3259,19.5702 8.3049,25.1122 16.8639,25.1122 C23.7419,25.1122 26.5149,18.0132 27.5559,15.3392 L27.7209,14.9252 C27.8469,14.6082 27.9839,14.1892 28.1449,13.7022 C29.1889,10.5372 31.3629,3.9472 37.6779,3.6162 C43.0959,3.2872 45.1229,7.2452 45.4119,9.3562 L45.5919,10.6692 L44.2879,10.4222 C44.1289,10.3882 40.2339,9.6822 39.1749,12.5852 C38.5879,14.2202 39.6639,16.8812 40.8089,19.7002 C41.9459,22.5092 43.1209,25.4102 43.1209,28.2062 C43.1209,34.0982 39.1109,38.0102 38.9389,38.1742 L37.6229,36.8022 C37.6579,36.7692 41.2169,33.2642 41.2169,28.2062 C41.2169,25.7822 40.1139,23.0542 39.0469,20.4172 C37.7609,17.2482 36.5489,14.2572 37.3889,11.9382 C38.3969,9.1452 41.0989,8.4142 43.1559,8.4142 L43.1629,8.4142 C42.5969,7.1282 41.1509,5.3642 37.7779,5.5182 C32.7619,5.7802 31.0059,11.1132 29.9519,14.3002 C29.7779,14.8292 29.6259,15.2852 29.4879,15.6312 L29.3309,16.0342 C28.2699,18.7492 25.0419,27.0162 16.8639,27.0162 C9.6829,27.0162 5.3629,23.4672 3.5639,21.5732 C2.3709,24.1842 0.3259,30.6662 5.5429,37.0422 L4.0709,38.2482 Z" id="Stroke-10" stroke="#39B54A" stroke-width="0.212"></path>
                        <path d="M36.6168,3.1393 C36.6168,4.3213 35.6568,5.2813 34.4748,5.2813 C33.2918,5.2813 32.3338,4.3213 32.3338,3.1393 C32.3338,1.9553 33.2918,0.9973 34.4748,0.9973 C35.6568,0.9973 36.6168,1.9553 36.6168,3.1393" id="Fill-11" fill="#39B54A"></path>
                        <path d="M36.6168,3.1393 C36.6168,4.3213 35.6568,5.2813 34.4748,5.2813 C33.2918,5.2813 32.3338,4.3213 32.3338,3.1393 C32.3338,1.9553 33.2918,0.9973 34.4748,0.9973 C35.6568,0.9973 36.6168,1.9553 36.6168,3.1393 Z" id="Stroke-12" stroke="#39B54A" stroke-width="0.212"></path>
                        <path d="M40.1705,2.862 C40.1705,3.89 39.3345,4.726 38.3065,4.726 C37.2765,4.726 36.4425,3.89 36.4425,2.862 C36.4425,1.832 37.2765,1 38.3065,1 C39.3345,1 40.1705,1.832 40.1705,2.862" id="Fill-13" fill="#39B54A"></path>
                        <path d="M36.4429,2.862 C36.4429,1.832 37.2769,1 38.3059,1 C39.3349,1 40.1709,1.832 40.1709,2.862" id="Stroke-14" stroke="#39B54A" stroke-width="0.212"></path>
                        <path d="M39.8062,3.6774 C39.8062,2.8104 40.5092,2.1074 41.3762,2.1074 C42.2442,2.1074 42.9472,2.8104 42.9472,3.6774 C42.9472,4.5444 42.2442,5.2474 41.3762,5.2474 C40.5092,5.2474 39.8062,4.5444 39.8062,3.6774" id="Fill-15" fill="#39B54A"></path>
                        <path d="M39.8062,3.6774 C39.8062,2.8104 40.5092,2.1074 41.3762,2.1074 C42.2442,2.1074 42.9472,2.8104 42.9472,3.6774 C42.9472,4.5444 42.2442,5.2474 41.3762,5.2474 C40.5092,5.2474 39.8062,4.5444 39.8062,3.6774 Z" id="Stroke-16" stroke="#39B54A" stroke-width="0.212"></path>
                        </g>
                        </g>
                        </g>
                        <g id="Oval-2">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        </g>
                        </svg>
                        .block-cycle_schedule-text Собственные корма

    // Для контента с отступами добавляем класс .central-content
    .wrapper-row-content.central-content.gray#innovations
        .container-content-txt_title Безопасность выпускаемой продукции - это
        .container-tabs-btn
            .tabs-link.current-t(data-tab="tab-1") Отсутствие гормонов
            .tabs-link(data-tab="tab-2") Герметичная упаковка
            .tabs-link(data-tab="tab-3") Холодовая цепочка
            .tabs-link(data-tab="tab-4") Лабораторный контроль
            .tabs-link(data-tab="tab-5") Международные стандарты
        #tab-1.container-content.tabs-content.current-t
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-video
                <iframe src="https://www.youtube.com/embed/cB-foYQqww0" frameborder="0" allowfullscreen></iframe>

        #tab-2.container-content.tabs-content
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        #tab-3.container-content.tabs-content
            .container-content-txt
                p 3Современные тренды изменения мира непосредственно влияют на потребителя. Тотальная урбанизация, повсеместная диджитализация - все эти факторы меняют привычные форматы потребления еды. Времени на готовку становится все меньше, а потребность в разнообразии у человечества растет с каждым днем.
                p Следуя трендам своих потребителей ТМ Петруха разработала и выпустила на рынок уникальную линейку продуктов резки, призванную максимально облегчить жизнь своим потребителям и сэкономить время на готовке для более важных задач.
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        #tab-4.container-content.tabs-content
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-video
                <iframe src="https://www.youtube.com/embed/cB-foYQqww0" frameborder="0" allowfullscreen></iframe>

        #tab-5.container-content.tabs-content
            .container-content-txt
                .container-content-txt_bold Наши продукты не содержат гормонов роста и антибиотиков
                p Мы выращиваем цыплят бройлера на натуральных и сбалансированных кормах в оптимальных условиях для обеспечения быстрого и здорового роста.
                p Узнайте, как мы выращиваем наших цыплят бройлера...
            .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

    // Для блоков с текстом без картинок добавляем  .content-no-img
    .wrapper-row-content.content-no-img#certificates
        .wrapper-content_title-row-b Сертификат FSSC 22000
        .container-content
            .container-content-txt
                .container-content-txt_bold «Смолевичи Бройлер» наряду с «Серволюкс Агро» являются единственными в Беларуси производителями мяса птицы, обладающими сертификатом пищевой безопасности FSSC 22000.
                a(href="#" download).container-open-doc
                    .icon-doc
                    .block-txt-info
                        .txt Открыть сертификат FSSC 22000
                        .info JPG, 2,5 Мб
            .container-content-txt
                p Этот стандарт сегодня является требованием лидеров глобального пищевого рынка к своим поставщикам. Сертификат FSSC 22000 открывает новые экспортные пути и возможности сотрудничества с новыми торговыми сетями и мировыми брендами, приходящими на белорусский рынок

                ul
                    li
                        img(src="img/100/Bitmap3.png" alt="")
                    li
                        img(src="img/100/Bitmap4.png" alt="")
                    li
                        img(src="img/100/Bitmap5.png" alt="")

    .container-environment.gray#environment
        .container-content-txt_title Инновации, не имеющие <br> аналогов на рынке
        // Для картинки справо добавляем класс .right-content
        .wrapper-row-content.right-content
            .container-content
                .container-content-txt
                    .container-content-txt_bold Улучшаем качество жизни наших потребителей
                    p Постоянное изучение рынка потребления позволяет нам разрабатывать новые актуальные продукты, которые делают каждый день нашего покупателя комфортным. Мы работаем не только над продуктовым ассортиментом, но и активно ищем и внедряем инновационные упаковочные решения. Такие программы позволяют улучшать качество и эстетику продуктов “Петруха”.
                .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")

        // Для картинки слево добавляем класс .left-content
        .wrapper-row-content.left-content
            .container-content
                .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")
                .container-content-txt
                    .container-content-txt_bold Оптимизируем процессы, чтобы предложить справедливую цену
                    p Автоматизация производственных циклов и использование инновационных энергосберегающих технологий позволяет реализовывать программы по снижению себестоимости готовой продукции.

        // Для картинки справо добавляем класс .right-content
        .wrapper-row-content.right-content
            .container-content
                .container-content-txt
                    .container-content-txt_bold Снижаем нагрузку на окружающую среду
                    p Мы отказались от использования упаковочных материалов из вспененного полистирола, производство которого в мире признано небезопасным для экологии и человека.
                    p Мы бережно относимся к природным ресурсам, понимая их ограниченность, и инвестируем в самые эффективные технологии по очистке воды, воздуха, экономии газа и электроэнергии.
                .container-content-img(style="background-image:url('img/100/Bitmap2.jpg')")


        .wrapper-row-content.container-lotock
            .wrapper-lotock
                .block-lotock.block-lotock-left
                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation.svg')")
                            .block-lotock_list_title Фиксированный вес продукта
                        .block-lotock_list-txt Сокращает логистические затраты на прием продукции, учет ее движения.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-2.svg')")
                            .block-lotock_list_title Жесткость и прочность упаковки
                        .block-lotock_list-txt При транспортировке снижается вероятность деформации упаковки и продукта.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-3.svg')")
                            .block-lotock_list_title Защита от вредоносных микроарганизмов.
                        .block-lotock_list-txt Герметичная упаковка припятствует контакту с окружающей средой, что повышает безопасность продукта.



                .block-lotock.block-lotock-right
                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-4.svg')")
                            .block-lotock_list_title Безопасный материал для здоровья
                        .block-lotock_list-txt Не вступает в контакт с продуктом даже при повышении температры.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-5.svg')")
                            .block-lotock_list_title Снижает нагрузку на экологию
                        .block-lotock_list-txt Полипропилен разлагается значительно быстрее полистерола, развит рынок переработки.

                    .block-lotock_list
                        .block-lotock_list-h
                            .block-lotock_list_icon(style="background-image:url('img/svg/innovation/innovation-6.svg')")
                            .block-lotock_list_title Защита от протекания упаковки
                        .block-lotock_list-txt Покупатель больше не использует дополнительную упаковку для транспортировки из магазина домой.


                .block-img-c
                    .content-img
                        .block-line.line-1
                        .block-line.line-2
                        .block-line.line-3
                        .block-line.line-4
                        .block-line.line-5
                        .block-line.line-6
                        img(src='img/100/lotoc.png' alt='')