header.header
    .block-header-lk <span>Личный кабинет</span>
    a(href='#').block-logo-header
    .block-menu.open-menu

.container-menu-nav
    .block-menu-nav Продукты
        .icon-prev
    .block-menu-list
        a(href="#").block-menu-list_list Петруха
        a(href="#").block-menu-list_list Петруха Микс
        a(href="#").block-menu-list_list Петруха Мастер
        a(href="#").block-menu-list_list Петруха Просто
        a(href="#").block-menu-list_list Петруха Халяль

