header.header
    .wrapper-header
        a(href="#").block-header-lk <span>Личный кабинет</span>
        a(href='#').block-logo-header
        .block-menu.open-menu
    .block-menu-header
        .block-menu-header-list
            a(href="#").block-menu-header-list_list Компания
            a(href="#").block-menu-header-list_list 100% качества
            a(href="#").block-menu-header-list_list Продукты
            a(href="#").block-menu-header-list_list Рецепты
            a(href="#").block-menu-header-list_list Акции
            a(href="#").block-menu-header-list_list Контакты
            a(href="#").block-menu-header-list_list Поиск

            a(href="#").block-menu-header-list_list Рецепты
            a(href="#").block-menu-header-list_list Акции
            a(href="#").block-menu-header-list_list Контакты
            a(href="#").block-menu-header-list_list Поиск
        a(href="#").block-menu-header_lk <span>Личный кабинет</span>



.container-menu-nav
    .block-menu-nav Продукты
        .icon-prev
    .block-menu-list
        a(href="#").block-menu-list_list Петруха
        a(href="#").block-menu-list_list Петруха Микс
        a(href="#").block-menu-list_list Петруха Мастер
        a(href="#").block-menu-list_list Петруха Просто
        a(href="#").block-menu-list_list Петруха Халяль

