section.container-central-unit
    .wrapper-central-unit
        .container-row
            .container-link-anchor
                ul
                    li
                        a(href='#company').link-anchor-menu О компании

                    li
                        a(href='#history').link-anchor-menu История

                    li
                        a(href='#production-sites').link-anchor-menu Производственные площадки

                    li
                        a(href='#vacancies').link-anchor-menu Вакансии

            .wrapper-content#company
                .wrapper-content_title Торговая марка «Петруха» - это качественный производитель и поставщик куриного мяса.
                p Фактом констатации силы бренда «Петруха» является его признание среди профессионалов (победитель конкурса «Бренд года», дипломант Премии Правительства в области качества), а так же, на потребительском рынке (уровень знания бренда  составляет 81%, многочисленные награды конкурса «Продукт года», данные продаж).

            .wrapper-list-items
                // block items
                .block-list-items
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-1.svg")')
                    .block-list-items_txt
                        .items_txt-title Лидер рынка
                        .items_text-title ТОП 10 производителей мяса в СНГ, №1 по производству мяса на рынке Беларуси

                // block items
                .block-list-items
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-2.svg")')
                    .block-list-items_txt
                        .items_txt-title Крупнейшие площадки
                        .items_text-title 2 площадки по производству мяса птицы Серволюкс Агро и Смолевичи Бройлер

                // block items
                .block-list-items
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-3.png")')
                    .block-list-items_txt
                        .items_txt-title Система безопасности
                        .items_text-title FSSC 22000 система безопасности пищевых продуктов, применяемая крупнейшими мировыми производителями

                // block items
                .block-list-items
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-4.svg")')
                    .block-list-items_txt
                        .items_txt-title Натуральный продукт
                        .items_text-title Знак подтвержден Государственным комитетом по стандартизации Республики Беларусь

                // block items
                .block-list-items
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-5.svg")')
                    .block-list-items_txt
                        .items_txt-title Халяль
                        .items_text-title Сертификат духовного управления мусульман Республики Беларусь

                // block items
                .block-list-items
                    .block-list-items_icon
                        .icon-list-items(style='background-image:url("img/svg/icon-p-6.svg")')
                    .block-list-items_txt
                        .items_txt-title Собственный автопарк
                        .items_text-title Широкая география поставок: РБ, РФ, Кыргызстан, Таджикистан, Узбекистан, Армения, Китай.

    .wrapper-slider-company#history
        .swiper-slider-company
            .swiper-wrapper

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 1978
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2002
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2004
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2006
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2008
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2011
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2013
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

                .swiper-slide(style='background-image:url("img/company/Pic2.jpg")')
                    .slider-company-txt
                        .slider-company-txt_number 2015
                        .slider-company-txt_txt История компании началась со строительства Могилевской Бройлерной птицефабрики, которая уже в 1978 году начала свою деятельность. Основным рынком сбыта являлся рынок Могилевской области.

            // Add Arrows
            .swiper-button-next
                .icon-btn-slider
                    <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#EB1C24" fill-rule="evenodd"/></svg>
            .swiper-button-prev
                .icon-btn-slider
                    <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#EB1C24" fill-rule="evenodd"/></svg>


    .wrapper-slider-content#production-sites
        .container-slider-content_txt-title Производственные площадки и мощности компании

        .container-block-row
            .swiper-container-list.js-shares-sw
                .swiper-wrapper

                    .swiper-slide
                        a(href='#').block-text-outside
                            .block-text-outside_img
                                img(src='img/company/Pic3.jpg' alt='')
                            .block-text-outside_wrapper
                                .block-text-outside_title Фабрика бройлерного направления в д.Лежневка, Могилевский район1
                                .block-text-outside_txt Производство, можностью 22 тыс. тонн в год. Изменение технологий выращивания птицы, реконструкция цеха убоя и переработки, новое упаковочное оборудование, отстройка бизнес процессов позволили существенно изменить качество сырой продукции из мяса птицы.

                    .swiper-slide
                        a(href='#').block-text-outside
                            .block-text-outside_img
                                img(src='img/company/Pic3.jpg' alt='')
                            .block-text-outside_wrapper
                                .block-text-outside_title Фабрика бройлерного направления в д.Лежневка, Могилевский район2
                                .block-text-outside_txt Производство, можностью 22 тыс. тонн в год. Изменение технологий выращивания птицы, реконструкция цеха убоя и переработки, новое упаковочное оборудование, отстройка бизнес процессов позволили существенно изменить качество сырой продукции из мяса птицы.

                    .swiper-slide
                        a(href='#').block-text-outside
                            .block-text-outside_img
                                img(src='img/company/Pic3.jpg' alt='')
                            .block-text-outside_wrapper
                                .block-text-outside_title Фабрика бройлерного направления в д.Лежневка, Могилевский район3
                                .block-text-outside_txt Производство, можностью 22 тыс. тонн в год. Изменение технологий выращивания птицы, реконструкция цеха убоя и переработки, новое упаковочное оборудование, отстройка бизнес процессов позволили существенно изменить качество сырой продукции из мяса птицы.

    .wrapper-vacancies#vacancies
        .box-vacancies
            .box-vacancies-img
                img(src='img/company/Pic4.png' alt='').box-vacancies-img_img
            .box-vacancies-txt
                .box-vacancies-txt_title Карьерные возможности
                .box-vacancies-txt_bold Мы уделяем большое внимание нашему коллективу. Развитие сотрудников является основным приоритетом работы службы подбора персонала.
                .box-vacancies-txt_p Связаться с отделом по подбору персонала можно по телефону: <a href="callto:+375292232625">+375 29 223 26 25</a>
                a(href="#").btn-green Просмотреть все вакансии