section.container-block-info.filter-mobile.sm-none
    .wrapper-filter-mobile
        // Блок для фильтра
        .container-filter-mobile.display-none


        // Блок для сортировки
        .container-sorting-mobile
            .block-sorting-mobile
                select.select
                    option(value='' disabled selected hidden) Сортировать
                    option(value='1') По популярности
                    option(value='2') По цене
                    option(value='3') По рейтингу
section.container-central-unit.gray
    .wrapper-central-unit

        .container-product
            .wrapper-product-subbrand
                .block-product-subbrand
                    .block-product-subbrand_title «Петруха» — любимый продукт.

                    .wrapper-content-text
                        p Базовые продукты из мяса птицы, для всех сегментов потребительского рынка. По мнению покупателей, «Петруха» – это бренд, которому доверяют, в качестве которого нет сомнений, его рекомендуют друзьям и близким.
                        p Торговая марка «Петруха» предлагает своим покупателям самый широкий ассортимент свежей, натуральной и высококачественной продукции.

                    .block-product-subbrand_doc
                        a(href='#' download).block-doc
                            .block-doc_icon.catalog
                            .block-doc-info
                                .block-doc-info_title Каталог продукции 2017
                                .block-doc-info_r JPG, 2,5 Мб
                        a(href='#' download).block-doc
                            .block-doc_icon.archiv
                            .block-doc-info
                                .block-doc-info_title Архив изображений
                                .block-doc-info_r JPG, 2,5 Мб


            .container-filter.add-container-sort.xs-none
                .wrapper-filter
                    .wrapper-filter-multiple
                        span.wrapper-filter-title Фильтр:

                        .block-filter
                            .button-dropdown
                                select(multiple="multiple1" placeholder="Состояние" class="filter-sel" data-filter-txt="Состояние: " data-number-filter=0)
                                    option(value='Голень') Состояние 1
                                    option(value='Бедро') Состояние 2
                                    option(value='Филе') Состояние 3
                                    option(value='Крыло') Состояние 4
                                    option(selected value='Состояние 5') Состояние 5
                                    option(value='Состояние 6') Состояние 6
                                    option(value='Состояние 7') Состояние 7

                                label.filter-clear
                                    i

                        .block-filter
                            .button-dropdown
                                select(multiple="multiple2" placeholder="Глубина переработки" class="filter-sel" data-filter-txt="Глубина переработки: " data-number-filter=1)
                                    option(selected value='Блюда 1') Глубина переработки 1
                                    option(selected value='Блюда 2') Глубина переработки 2
                                    option(value='Блюда 3') Глубина переработки 3
                                    option(value='Блюда 4') Глубина переработки 4
                                    option(value='Блюда 5') Глубина переработки 5

                                label.filter-clear
                                    i

                        .button-reset-filter Очистить фильтр


                    .container-sorting
                        label.txt-sorting Сортировать:
                        select.select-box.select2
                            option(value='1') По популярности
                            option(value='2') По цене
                            option(value='3') По рейтингу


            .container-product-brand
                // Зеленый
                .block-product-brand.grin

                    .block-state.grin
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap1.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list.active-list
                                        .swiper-pagination_list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                    .block-state.blue
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list
                                        .swiper-pagination_list.active-list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                // Синий
                .block-product-brand.blue
                    .block-state.blue
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list.active-list
                                        .swiper-pagination_list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                    .block-state.grin
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap1.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list
                                        .swiper-pagination_list.active-list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                // Одинарный
                .block-product-brand.grin-one
                    .block-state
                        .block-btn-state
                            // Подсказка
                            .btn-state.tooltip-btn(data-toggle="tooltip" data-html="true" title="<p>Охлажденная упаковка</p>")
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap1.jpg' alt='')
                                    .swiper-pagination
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                // Зеленый
                .block-product-brand.grin

                    .block-state.grin
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap1.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list.active-list
                                        .swiper-pagination_list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                    .block-state.blue
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list
                                        .swiper-pagination_list.active-list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр


                // Синий
                .block-product-brand.blue
                    .block-state.blue
                        .block-btn-state
                            .btn-state
                                .btn-click
                            // Вывод подсказки
                            .btn-yp.tooltip-btn(data-toggle="tooltip" data-html="true" title="<p>Упаковка: средний лоток</p><br><p>Упаковка: Вес: 0,98 кг</p><br><p>Лотков в гофроящике: 8 шт</p><br><p>Вес гофроящика: 7,8 кг</p>")
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list.active-list
                                        .swiper-pagination_list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр

                    .block-state.grin
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap1.jpg' alt='')
                                    .swiper-pagination
                                        .swiper-pagination_list
                                        .swiper-pagination_list.active-list
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр


                // Одинарный
                .block-product-brand.blue-one
                    .block-state
                        .block-btn-state
                            .btn-state
                                .btn-click
                            .btn-yp
                                .icon-yp
                                | Упаковка
                        .block-product-brand-info
                            .brand-info-show
                                .swiper-container-product
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src='img/product/Bitmap1.jpg' alt='')
                                    .swiper-pagination
                            .brand-info-hiden
                                .brand-info-hiden_title Бедро цыпленка-бройлера
                                .brand-info-hiden_txt Срок годности: 7 суток, от 0 до 2°С

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-calories
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt ккал
                                        .brand-info-hiden_list-number 1018

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-fats
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt жиры
                                        .brand-info-hiden_list-number 47,1 гр

                                .brand-info-hiden_list
                                    .brand-info-hiden_list-icon.icon-proteins
                                    .brand-info-hiden_list-text
                                        .brand-info-hiden_list-txt БЕЛКИ
                                        .brand-info-hiden_list-number 92 гр