section.container-central-unit
    .wrapper-central-unit
        .container-product

            .block-product
                .wrapper-product
                    a(href="#").central-title
                        span.central-title_txt Продукты
                        span.central-title_icon
                    .central-text Любой продукт ТМ «Петруха» — основа здорового питания. Мы заботимся о здоровье наших покупателей и контролируем качество продукции на всех этапах производства.

            a(href="#").block-product(style='background-image:url("img/product/img-4.jpg")')
                //img(src='img/product/img-4.jpg' alt='').block-product-img
                .wrapper-product
                    .wrapper-product_logo(style='background-image:url("img/logo-product/logo-1.jpg")')
                    .wrapper-product_text
                        .wrapper-product_text-title КАЧЕСТВО <br> И НАТУРАЛЬНОСТЬ
                        .wrapper-product_text-txt от кормов до готового продукта

            a(href="#").block-product(style='background-image:url("img/product/img-2.jpg")')
                //img(src='img/product/img-2.jpg' alt='').block-product-img
                .wrapper-product
                    .wrapper-product_logo(style='background-image:url("img/logo-product/logo-2.png")')
                    .wrapper-product_text
                        .wrapper-product_text-title ВСЕГДА <br> ПОЛУЧАЕТСЯ
                        .wrapper-product_text-txt

            a(href="#").block-product(style='background-image:url("img/product/img-5.jpg")')
                //img(src='img/product/img-5.jpg' alt='').block-product-img
                .wrapper-product
                    .wrapper-product_logo(style='background-image:url("img/logo-product/logo-3.png")')
                    .wrapper-product_text
                        .wrapper-product_text-title ПРОСТЫЕ <br> РЕШЕНИЯ
                        .wrapper-product_text-txt на каждый день

            a(href="#").block-product(style='background-image:url("img/product/img-1.jpg")')
                //img(src='img/product/img-1.jpg' alt='').block-product-img
                .wrapper-product
                    .wrapper-product_logo(style='background-image:url("img/logo-product/logo-4.png")')
                    .wrapper-product_text
                        .wrapper-product_text-title ВЫГОДНАЯ <br>ПОКУПКА
                        .wrapper-product_text-txt для большой семьи

            a(href="#").block-product(style='background-image:url("img/product/img-3.jpg")')
                //img(src='img/product/img-3.jpg' alt='').block-product-img
                .wrapper-product
                    .wrapper-product_logo(style='background-image:url("img/logo-product/logo-1.jpg")')
                    .wrapper-product_text
                        .wrapper-product_text-title КАЧЕСТВО <br> И НАТУРАЛЬНОСТЬ
                        .wrapper-product_text-txt от кормов до готового продукта