section.container-central-unit.gray
    .wrapper-central-unit
        .container-row

            a(href='#').central-title
                span.central-title_txt Новости
                span.central-title_icon

            .container-block-row
                a(href="#").wrapper-big-block(style='background-image:url("img/news/Bitmap.jpg")')
                    .wrapper-big-block-text
                        .wrapper-big-block_data 8 августа 2017
                        .wrapper-big-block_text
                            .wrapper-big-block_title Лидирующие позиции рейтинга Беларуси
                            .wrapper-big-block_txt Компания «Сервалюкс Агро» вошла в рейтинг крупнейших компаний Беларуси.

                .wrapper-small-block
                    a(href="#").block-small-link
                        .block-small-link_title Петруха: Каждому празднику свое блюдо
                        .block-small-link_txt Вместе с шеф-поварами Беларуси мы разработали идеальные рецепты из куриного мяса на любой вкус.
                        .block-small-link_data 9 августа 2017

                    a(href="#").block-small-link
                        .block-small-link_title Лидирующие позиции рейтинга Беларуси
                        .block-small-link_txt Компания «Сервалюкс Агро» вошла в рейтинг крупнейших компаний Беларуси.
                        .block-small-link_data 10 августа 2017