section.container-central-txt.gray
    .wrapper-content-text
        p Приближается пора весенне-зимних праздников. Впереди нас ждет заметчательный праздник 14 февраля, не так долго осталось и до 23 февраля и 8 марта. Наряду с выбором подарка, очень часто встает достаточно банальный вопрос: "Что приготовить на романтический ужин?"
        p По адресу <a href="#">http://chef.petruha.by</a> доступен календарь с рецептами ко всем этим праздникам!  Переходите, экспериментируйте, наслаждайтесь!


    .wrapper-content-soc
        .line
        .box-soc
            .ya-share2(data-services="vkontakte,facebook,odnoklassniki,twitter,gplus" data-size="m" data-description="Текст, которым нужно поделиться." data-image="Изображение, которым нужно поделиться." data-title="Заголовок, которым нужно поделиться")
            //img(src='img/soc-img.jpg' alt='')
        a(href='#').box-link.js-close Все акции