section.container-central-unit.gray
    .wrapper-central-unit
        .container-row
            a(href='#').central-title
                span.central-title_txt Акции
                span.central-title_icon

            .container-block-row
                .swiper-container-list.js-shares-sw
                    .swiper-wrapper

                        .swiper-slide
                            a(href='#').block-text-outside
                                .block-text-outside_img
                                    img(src='img/shares/Bitmap.jpg' alt='')
                                    .block-info_text-section АКТУАЛЬНАЯ
                                .block-text-outside_wrapper
                                    .block-text-outside_title «Микс» стал ещё выгоднее!
                                    .block-text-outside_txt Теперь Вы можете приобрести свои любимые части курочки в одной упаковке дешевле!
                                    .block-text-outside_data 8 августа 2017

                        .swiper-slide
                            a(href='#').block-text-outside
                                .block-text-outside_img
                                    img(src='img/shares/Bitmap2.jpg' alt='')
                                    .block-info_text-section АКТУАЛЬНАЯ
                                .block-text-outside_wrapper
                                    .block-text-outside_title «Гарантируем удачу!»
                                    .block-text-outside_txt Участвуй в акции от Петруха Мастер! Регистрируй чеки, выкладывай фотки, выигрывай призы!
                                    .block-text-outside_data 8 августа 2017

                        .swiper-slide
                            a(href='#').block-text-outside
                                .block-text-outside_img
                                    img(src='img/shares/Bitmap3.jpg' alt='')
                                .block-text-outside_wrapper
                                    .block-text-outside_title Участвуйте в розыгрыше призов!
                                    .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                                    .block-text-outside_data 8 августа 2017

                        .swiper-slide
                            a(href='#').block-text-outside
                                .block-text-outside_img
                                    img(src='img/shares/Bitmap.jpg' alt='')
                                    .block-info_text-section АКТУАЛЬНАЯ
                                .block-text-outside_wrapper
                                    .block-text-outside_title «Микс» стал ещё выгоднее!
                                    .block-text-outside_txt Теперь Вы можете приобрести свои любимые части курочки в одной упаковке дешевле!
                                    .block-text-outside_data 8 августа 2017

                        .swiper-slide
                            a(href='#').block-text-outside
                                .block-text-outside_img
                                    img(src='img/shares/Bitmap2.jpg' alt='')
                                    .block-info_text-section АКТУАЛЬНАЯ
                                .block-text-outside_wrapper
                                    .block-text-outside_title «Гарантируем удачу!»
                                    .block-text-outside_txt Участвуй в акции от Петруха Мастер! Регистрируй чеки, выкладывай фотки, выигрывай призы!
                                    .block-text-outside_data 8 августа 2017

                        .swiper-slide
                            a(href='#').block-text-outside
                                .block-text-outside_img
                                    img(src='img/shares/Bitmap3.jpg' alt='')
                                .block-text-outside_wrapper
                                    .block-text-outside_title Участвуйте в розыгрыше призов!
                                    .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                                    .block-text-outside_data 8 августа 2017