.container-similar-recipes
    .wrapper-similar-recipes
        .wrapper-similar-recipes_title Похожие рецепты:
        .container-block-row
            a(href='#').block-text-inside
                .wrapper-text-inside(style="background-image:url('img/recipe/Bitmap1.jpg')")
                    //img.wrapper-text-inside_img(src='img/recipe/Bitmap1.jpg' alt='')
                    .block-info_text-section КУРИНЫЕ КРЫЛЬЯ
                    .block-text-inside
                        .block-text-inside_title КРЫЛЬЯ
                        .block-text-inside_txt в пивном маринаде
                .block-text-inside_outside
                    .block-text-inside_outside-time
                        span.icon-time
                        | 60 мин
                    .block-text-inside_outside-servings
                        span.icon-servings
                        | 2 порции

            a(href='#').block-text-inside
                .wrapper-text-inside(style="background-image:url('img/recipe/Bitmap1.jpg')")
                    //img(src='img/recipe/Bitmap1.jpg').wrapper-text-inside_img
                    .block-info_text-section КУРИНЫЕ КРЫЛЬЯ
                    .block-text-inside
                        .block-text-inside_title КРЫЛЬЯ
                        .block-text-inside_txt в апельсиновом соусе
                .block-text-inside_outside
                    .block-text-inside_outside-time
                        span.icon-time
                        | 40 мин
                    .block-text-inside_outside-servings
                        span.icon-servings
                        | 4 порции