section.container-block-info.gray.xs-none
    .wrapper-central-unit
        .container-row
            .central-title
                span.central-title_txt Акции

            .container-sorting
                label.txt-sorting Сортировать:
                select.select-box.select2
                    option(value='1') По популярности
                    option(value='2') По цене
                    option(value='3') По рейтингу
section.container-block-info.filter-mobile.sm-none
    .wrapper-filter-mobile
        // Блок для фильтра
        .container-filter-mobile.display-none

        // Блок для сортировки
        .container-sorting-mobile
            .block-sorting-mobile
                select.select
                    option(value='' disabled selected hidden) Сортировать
                    option(value='1') По популярности
                    option(value='2') По цене
                    option(value='3') По рейтингу
section.container-central-unit.gray
    .ajax_container
        .container-stock
            a(href='#').block-info-list(style='background-image:url("img/2.jpg")')
                .wrapper-block-info
                    .wrapper-block-info_text
                        .block-info_text-section Акции
                        .two-block
                            .block-info_text-title Участвуйте в розыгрыше призов!
                            .block-info_text-txt Мы так выборочно относимся к вопросу гигиены — прячемся от чихающегося человека и при этом собираем одноразовые пакеты.

            a(href='#').block-info-list(style='background-image:url("img/3.jpg")')
                .wrapper-block-info
                    .wrapper-block-info_text
                        .block-info_text-section Акции
                        .two-block
                            .block-info_text-title «Гарантируем удачу!»
                            .block-info_text-txt Мы так выборочно относимся к вопросу гигиены — прячемся от чихающегося человека и при этом собираем одноразовые пакеты.


        .wrapper-central-unit
            .container-row

                .container-block-row.row-block
                    a(href='#').block-text-outside
                        .block-text-outside_img(style='background-image:url("img/shares/Bitmap.jpg")')
                            .block-info_text-section АКТУАЛЬНАЯ
                        .block-text-outside_wrapper
                            .block-text-outside_title «Микс» стал ещё выгоднее!
                            .block-text-outside_txt Теперь Вы можете приобрести свои любимые части курочки в одной упаковке дешевле!
                            .block-text-outside_data 8 августа 2017

                    a(href='#').block-text-outside
                        .block-text-outside_img(style='background-image:url("img/shares/Bitmap2.jpg")')
                            .block-info_text-section АКТУАЛЬНАЯ
                        .block-text-outside_wrapper
                            .block-text-outside_title «Гарантируем удачу!»
                            .block-text-outside_txt Участвуй в акции от Петруха Мастер! Регистрируй чеки, выкладывай фотки, выигрывай призы!
                            .block-text-outside_data 8 августа 2017

                    a(href='#').block-text-outside
                        .block-text-outside_img(style='background-image:url("img/shares/Bitmap3.jpg")')
                        .block-text-outside_wrapper
                            .block-text-outside_title Участвуйте в розыгрыше призов!
                            .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                            .block-text-outside_data 8 августа 2017


                    a(href='#').block-text-outside(style='background-image:url("img/shares/Bitmap1.jpg")')
                        .block-text-outside_img(style='background-image:url("img/shares/Bitmap3.jpg")')
                            .block-info_text-section АКТУАЛЬНАЯ
                        .block-text-outside_wrapper
                            .block-text-outside_title «Микс» стал ещё выгоднее!
                            .block-text-outside_txt Теперь Вы можете приобрести свои любимые части курочки в одной упаковке дешевле!
                            .block-text-outside_data 8 августа 2017

                    a(href='#').block-text-outside
                        .block-text-outside_img(style='background-image:url("img/shares/Bitmap2.jpg")')
                        .block-text-outside_wrapper
                            .block-text-outside_title «Гарантируем удачу!»
                            .block-text-outside_txt Участвуй в акции от Петруха Мастер! Регистрируй чеки, выкладывай фотки, выигрывай призы!
                            .block-text-outside_data 8 августа 2017

                    a(href='#').block-text-outside
                        .block-text-outside_img(style='background-image:url("img/shares/Bitmap3.jpg")')
                        .block-text-outside_wrapper
                            .block-text-outside_title Участвуйте в розыгрыше призов!
                            .block-text-outside_txt Пришло время протестировать свои ежедневные привычки и расскахать нам о них на нашем сайте!
                            .block-text-outside_data 8 августа 2017
        include container-navigation