.container-ingredients-slider
    .block-ingredients-slider
        .block-ingredients-slider_title Продукт для приготовления:
        .swiper-container-ingredients
            .swiper-wrapper

                .swiper-slide
                    .swiper-slide-img
                        img(src='img/product/Bitmap1.jpg' alt='')

                    .swiper-slide-txt Крыло цыпленка–бройлера охлажденное

                .swiper-slide
                    .swiper-slide-img
                        img(src='img/product/Bitmap.jpg' alt='')

                    .swiper-slide-txt Крыло цыпленка–бройлера охлажденное

                .swiper-slide
                    .swiper-slide-img
                        img(src='img/product/Bitmap1.jpg' alt='')

                    .swiper-slide-txt Крыло цыпленка–бройлера охлажденное


            // If we need pagination
            .swiper-pagination

            // If we need navigation buttons
            .swiper-button-prev
                .icon-btn-slider
                    <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#EB1C24" fill-rule="evenodd"/></svg>

            .swiper-button-next
                .icon-btn-slider
                    <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#EB1C24" fill-rule="evenodd"/></svg>