section.container-central-unit
    .wrapper-central-unit
        .container-row
            .block-link-right
                ul
                    li
                        a(href='#') Рецепты от Шефа
                    li
                        a(href='#') Холодные закуски
                    li
                        a(href='#') Первые блюда
                    li
                        a(href='#') Вторые блюда

            a(href='#').central-title
                span.central-title_txt Рецепты
                span.central-title_icon

            .container-block-row
                .swiper-container-list.js-recipe-sw
                    .swiper-wrapper

                        .swiper-slide
                            a(href='#').block-text-inside
                                .wrapper-text-inside
                                    img.wrapper-text-inside_img(src='img/recipe/Bitmap1.jpg' alt='')
                                    .block-text-inside
                                        .block-text-inside_title САЛАТ
                                        .block-text-inside_txt из курицы и хурмы
                                .block-text-inside_outside
                                    .block-text-inside_outside-time
                                        span.icon-time
                                        | 60 мин
                                    .block-text-inside_outside-servings
                                        span.icon-servings
                                        | 2 порции

                        .swiper-slide
                            a(href='#').block-text-inside
                                .wrapper-text-inside
                                    img(src='img/recipe/Bitmap1.jpg').wrapper-text-inside_img
                                    .block-text-inside
                                        .block-text-inside_title СУП
                                        .block-text-inside_txt куриный с овощами
                                .block-text-inside_outside
                                    .block-text-inside_outside-time
                                        span.icon-time
                                        | 40 мин
                                    .block-text-inside_outside-servings
                                        span.icon-servings
                                        | 4 порции

                        .swiper-slide
                            a(href='#').block-text-inside
                                .wrapper-text-inside
                                    img(src='img/recipe/Bitmap1.jpg').wrapper-text-inside_img
                                    .block-text-inside
                                        .block-text-inside_title ГОЛЕНЬ
                                        .block-text-inside_txt с овощами и оливками
                                .block-text-inside_outside
                                    .block-text-inside_outside-time
                                        span.icon-time
                                        | 85 мин
                                    .block-text-inside_outside-servings
                                        span.icon-servings
                                        | 2 порции

                        .swiper-slide
                            a(href='#').block-text-inside
                                .wrapper-text-inside
                                    img.wrapper-text-inside_img(src='img/recipe/Bitmap1.jpg' alt='')
                                    .block-text-inside
                                        .block-text-inside_title САЛАТ
                                        .block-text-inside_txt из курицы и хурмы
                                .block-text-inside_outside
                                    .block-text-inside_outside-time
                                        span.icon-time
                                        | 60 мин
                                    .block-text-inside_outside-servings
                                        span.icon-servings
                                        | 2 порции

                        .swiper-slide
                            a(href='#').block-text-inside
                                .wrapper-text-inside
                                    img(src='img/recipe/Bitmap1.jpg').wrapper-text-inside_img
                                    .block-text-inside
                                        .block-text-inside_title СУП
                                        .block-text-inside_txt куриный с овощами
                                .block-text-inside_outside
                                    .block-text-inside_outside-time
                                        span.icon-time
                                        | 40 мин
                                    .block-text-inside_outside-servings
                                        span.icon-servings
                                        | 4 порции

                        .swiper-slide
                            a(href='#').block-text-inside
                                .wrapper-text-inside
                                    img(src='img/recipe/Bitmap1.jpg').wrapper-text-inside_img
                                    .block-text-inside
                                        .block-text-inside_title ГОЛЕНЬ
                                        .block-text-inside_txt с овощами и оливками
                                .block-text-inside_outside
                                    .block-text-inside_outside-time
                                        span.icon-time
                                        | 85 мин
                                    .block-text-inside_outside-servings
                                        span.icon-servings
                                        | 2 порции
