.wrapper-tag
    ul
        li
            a(href="#") Крылья
        li
            a(href="#") Ужин
        li
            a(href="#") Закуска
        li
            a(href="#") Простые рецепты
        li
            a(href="#") Курица

.wrapper-content-soc.recipes
    .box-soc
        .ya-share2(data-services="vkontakte,facebook,odnoklassniki,twitter,gplus" data-size="m" data-description="Текст, которым нужно поделиться." data-image="Изображение, которым нужно поделиться." data-title="Заголовок, которым нужно поделиться")