.container-recipes-txt
    .wrapper-content-text
        p Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать. Положить в маринад крылышки и перемешать. Оставить мариноваться на 30-40 минут.

        .recipes-info-tabs
            .container-tabs-btn.row-tabs-company
                .tabs-link.current-t(data-tab-c="tab-contact-1") Видео рецепт
                .tabs-link(data-tab-c="tab-contact-2") Способ приготовления
            #tab-contact-1.container-contact.tabs-content.current-t
                .box-recipes-video
                    <iframe src="https://www.youtube.com/embed/cB-foYQqww0" frameborder="0" allowfullscreen></iframe>

            #tab-contact-2.container-contact.tabs-content
                .box-recipes-slider
                    .swiper-wrapper
                        .swiper-slide(style="background: url('img/recipe/Bitmap1.jpg')" data-number-slider="0")
                            .content-recipes-slider
                                .content-recipes-slider_title СМЕШАТЬ
                                .content-recipes-slider_txt все сухие ингредиенты <br> в ёмкости

                        .swiper-slide(style="background: url('img/recipe/Bitmap2.jpg')" data-number-slider="1")
                            .content-recipes-slider
                                .content-recipes-slider_title СМЕШАТЬ
                                .content-recipes-slider_txt все сухие ингредиенты <br> в ёмкости

                        .swiper-slide(style="background: url('img/recipe/Bitmap3.jpg')" data-number-slider="2")
                            .content-recipes-slider
                                .content-recipes-slider_title СМЕШАТЬ
                                .content-recipes-slider_txt все сухие ингредиенты <br> в ёмкости

                        .swiper-slide(style="background: url('img/recipe/Bitmap4.jpg')" data-number-slider="3")
                            .content-recipes-slider
                                .content-recipes-slider_title СМЕШАТЬ
                                .content-recipes-slider_txt все сухие ингредиенты <br> в ёмкости

                        .swiper-slide(style="background: url('img/recipe/Bitmap5.jpg')" data-number-slider="4")
                            .content-recipes-slider
                                .content-recipes-slider_title СМЕШАТЬ
                                .content-recipes-slider_txt все сухие ингредиенты <br> в ёмкости

                    // Add Pagination
                    .swiper-pagination
                    // Add Pagination
                    .swiper-button-next.js-number-slider
                        .icon-btn-slider
                            <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#ffffff" fill-rule="evenodd"/></svg>
                    .swiper-button-prev.js-number-slider
                        .icon-btn-slider
                            <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#ffffff" fill-rule="evenodd"/></svg>

                .slider-number-recipes
                    <span class="number-active">1</span>/<span class="number-sl"></span> Шаг


        p Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать. Положить в маринад крылышки и перемешать. Оставить мариноваться на 30-40 минут.

        p Замаринованные крылышки переложить в огнеупорную посуду. Запекать в разогретой до 200 градусов духовке около 40-45 минут, периодически смазывая остатками маринада.