section.container-central-txt.gray
    .wrapper-content-text
        h2 Торговая марка «Петруха» - это качественный производитель и поставщик куриного мяса.

        p Фактом констатации силы бренда «Петруха» является его признание среди профессионалов (победитель конкурса «Бренд года», дипломант Премии Правительства в области качества), а так же, на потребительском рынке (уровень знания бренда  составляет 81%, многочисленные награды конкурса «Продукт года», данные продаж).

        .snipet-video
            <iframe src="https://www.youtube.com/embed/cB-foYQqww0" frameborder="0" allowfullscreen></iframe>

        p Заботясь о повышении качества и <a href="#">безопасности продукции</a>, реализуемой под торговой маркой «Петруха», «Смолевичи Бройлер» одновременно с запуском наиболее современного в стране цеха убоя и переработки птицы самостоятельно, без привлечения зарубежных консультантов, начал <sup>внедрение</sup> и <sub>переход</sub> на <del>новую схему</del> FSSC. — от получения сырья до использования продукции потребителем.

        .block-direct-speech Международный орган по сертификации TÜV Thüringen — всемирно известная компания, один из лидеров в области независимой экспертизы. Cертификаты TÜV International Certification признаются во всем мире, в том числе в Японии, США, Канаде, Китае.

        p Заботясь о повышении качества и <a href="#">безопасности продукции</a>, реализуемой под торговой маркой «Петруха», «Смолевичи Бройлер» одновременно с запуском наиболее современного в стране цеха убоя и переработки птицы самостоятельно, без привлечения зарубежных консультантов, начал <sup>внедрение</sup> и <sub>переход</sub> на <del>новую схему</del> FSSC. — от получения сырья до использования продукции потребителем.

        p <i>В результате, команда международных аудиторов приняла решение о соответствии  предприятия требованиям международного сертификата по стандарту FSSC 22000.</i> <br><b>Также было продемонстрировано соответствие требованиям международным стандартам по экологии (ISO 14001) и охране труда (OHSAS 18001).</b>

        h2 Карьерные возможности

        h3 Мы уделяем большое внимание нашему коллективу. Развитие сотрудников является основным приоритетом работы службы подбора персонала.

        p Связаться с отделом по подбору персонала можно по телефону: <b>+375 29 223 26 25</b>

        h2 Сертификат FSSC 22000

        img(src="img/recipe/Bitmap1.jpg" alt="").float-img-left

        p Международный орган по сертификации TÜV Thüringen — всемирно известная компания, один  из лидеров в области независимой экспертизы. Cертификаты TÜV International Certification признаются во всем мире, в том числе в Японии, США, Канаде, Китае, Новой Зеландии, Австрии. Более 40 тысяч компаний во всем мире выбирают  качестве партнера немецкое общество технического надзора TÜV. Более 40 тысяч компаний во всем мире выбираютв качестве партнера немецкое общество. Стандарт FSSC 22000 представляет собой один из наиболее глобальных подходов к системе управления безопасностью пищевых продуктов для тех, кто вовлечен в процесс производства пищевых продуктов. Владельцем Схемы FSSC 22000 является Фонд  системе управления безопасностью пищевых продуктов для тех, кто вовлечен в процесс производства пищевых.

        img(src="img/recipe/Bitmap1.jpg" alt="").float-img-right

        p Международный орган по сертификации TÜV Thüringen — всемирно известная компания, один из лидеров в области независимой экспертизы. Cертификаты TÜV International Certification признаются во всем мире, в том числе в Японии, США, Канаде, Китае, Новой Зеландии, Австрии. Более 40 тысяч компаний во всем мире выбирают в качестве партнера немецкое общество надзора TÜV. Сертификат, выданный органом по TÜV Thüringen, пользуется высоким доверием на международном рынке.

        h2 Сертификат FSSC 22000

        p Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать. Положить в маринад крылышки и перемешать. Оставить мариноваться на 30-40 минут.

        img(src="img/recipe/Bitmap22.jpg" alt="")

        p Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать. Положить в маринад крылышки и перемешать. Оставить мариноваться на 30-40 минут.

        h3 Ингредиенты для приготовления <br> куриных крылье в соевом соусе:

        ul
            li Куриные крылья: 1200 г.
            li Соевый соус 60 мл.
            li Мёд 1 ст. л
            li Молотый сухой имбирь 0,5 ч. л.
            li Чеснок 3 зуб.
            li Растительное масло 1 ст. л.

        h3 Ингредиенты для приготовления <br> куриных крылье в соевом соусе:

        ol
            li Куриные крылья: 1200 г.
            li Соевый соус 60 мл.
            li Мёд 1 ст. л
            li Молотый сухой имбирь 0,5 ч. л.
            li Чеснок 3 зуб.
            li Растительное масло 1 ст. л.

        table
            thead
                tr
                    th Промо код
                    th Дата регистрации
                    th Статус
            tbody
                tr
                    td <b>117194552632</b>
                    td 10.08.2017
                    td Не выйграл

                tr
                    td <b>158468234585</b>
                    td 08.08.2017
                    td Не выйграл

                tr
                    td <b>584684521556</b>
                    td 06.08.2017
                    td Не выйграл

