.container-ingredients
    .block-ingredients
        .block-ingredients_title Ингредиенты:

        .block-quantity-por
            .block-quantity-por_min -
            .block-quantity-por_q 4 порции
            .block-quantity-por_plus +

        .block-ingredients-list
            ul
                li Куриные крылья: 1200 г
                li Соевый соус 60 мл.
                li Мёд 1 ст. л
                li Молотый сухой имбирь 0,5 ч. л.
                li Чеснок 3 зуб.
                li Растительное масло 1 ст. л.