section.container-central-unit.gray
    .wrapper-central-unit
        .wrapper-search
            .container-box-search
                input(type='text').input-box-search
                button.btn-s
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52"><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><circle cx="25" cy="25" r="25" stroke="" stroke-opacity=".5"/><path fill="#FFF" fill-rule="nonzero" d="M27.788 29.726a8.046 8.046 0 0 1-4.693 1.5c-4.47 0-8.095-3.63-8.095-8.112S18.624 15 23.095 15s8.095 3.633 8.095 8.114c0 2.24-.906 4.27-2.37 5.737l5.71 5.726a.668.668 0 0 1-.006.947.666.666 0 0 1-.945.007l-5.792-5.804zm-4.693.547c3.945 0 7.143-3.206 7.143-7.16 0-3.953-3.198-7.158-7.143-7.158s-7.143 3.205-7.143 7.16c0 3.952 3.198 7.158 7.143 7.158z"/></g></svg>

            .container-search-info(style="display:none") По данному запросу ничего не найдено.

            .container-search-info По вашему запросу найдено <span>5 совпадений</span>

            .container-search-list
                ol
                    li
                        a(href='#') Запеченные <b>куриные</b> крылышки в медово-соевом маринаде с овощами
                        .block-search-txt
                            p Запеченные <b>куриные</b> крылышки. Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать.

                    li
                        a(href='#') <b>Куриные</b> крылья гриль
                        .block-search-txt
                            p Запеченные <b>куриные</b> крылышки. Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать.

                    li
                        a(href='#') Бульон на <b>куриный</b> крылышках
                        .block-search-txt
                            p Запеченные <b>куриные</b> крылышки. Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать.

                    li
                        a(href='#') Замороженные <b>куриные</b> крылья
                        .block-search-txt
                            p Запеченные куриные <b>крылышки</b>. Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать.

                    li
                        a(href='#') Маринованные <b>куриные</b> крылья
                        .block-search-txt
                            p Запеченные <b>куриные</b> крылышки. Налить в миску соевый соус, добавить мед, имбирь, мелко натертый чеснок и растительное масло. Перемешать.