section.container-navigation.gray
    .wrapper-navigation
        ul.display-pl
            li.btn-prev.no-active
                a(href='#').icon-btn-prev
                    <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#F9F9F9" opacity=".1" d="M-226-107h1350v719H-226z"/><path class="first" d="M9.443 0c5.216 0 9.444 4.228 9.444 9.443 0 5.216-4.228 9.444-9.444 9.444C4.228 18.887 0 14.66 0 9.443 0 4.228 4.228 0 9.443 0z" fill="#EB1C24"/><path class="two" d="M12.5 9.5L8.13 5.122 6.963 6.287l3.168 3.168-3.168 3.168 1.165 1.165L12.5 9.5z" fill="#FFF"/></g></svg>
            li.number.active
                a(href='#') 1
            li.number
                a(href='#') 2
            li.number
                a(href='#') 3

            li.interval
                a(href='#') ...

            li.number
                a(href='#') 5

            li.btn-next
                a(href='#').icon-btn-next
                    <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#F9F9F9" opacity=".1" d="M-226-107h1350v719H-226z"/><path class="first" d="M9.443 0c5.216 0 9.444 4.228 9.444 9.443 0 5.216-4.228 9.444-9.444 9.444C4.228 18.887 0 14.66 0 9.443 0 4.228 4.228 0 9.443 0z" fill="#EB1C24"/><path class="two" d="M12.5 9.5L8.13 5.122 6.963 6.287l3.168 3.168-3.168 3.168 1.165 1.165L12.5 9.5z" fill="#FFF"/></g></svg>

        // класс скрывает блок display-none
        ul.display-mobile-nav
            li.btn-prev
                a(href="#").icon-btn-prev
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="12" viewBox="0 0 23 12">
                        <path fill="#5e5e5e" fill-rule="evenodd" d="M11.5 10.116L2.055.67a.642.642 0 0 0-.908.908l9.75 9.75c.163.163.393.22.603.17.21.05.44-.007.603-.17l9.75-9.75a.642.642 0 0 0-.908-.908L11.5 10.116z"/>
                    </svg>
            li.txt-nav Следующие 12
            li.btn-next
                a(href='#').icon-btn-next
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="12" viewBox="0 0 23 12">
                        <path fill="#5e5e5e" fill-rule="evenodd" d="M11.5 10.116L2.055.67a.642.642 0 0 0-.908.908l9.75 9.75c.163.163.393.22.603.17.21.05.44-.007.603-.17l9.75-9.75a.642.642 0 0 0-.908-.908L11.5 10.116z"/>
                    </svg>





