section.container-block-info
    .container-stock
        a(href='#').block-info-list(style='background-image:url("img/2.jpg")')
            .wrapper-block-info
                .wrapper-block-info_text
                    .block-info_text-section Акции
                    .two-block
                        .block-info_text-title Участвуйте в розыгрыше призов!
                        .block-info_text-txt Мы так выборочно относимся к вопросу гигиены — прячемся от чихающегося человека и при этом собираем одноразовые пакеты.

        a(href='#').block-info-list(style='background-image:url("img/3.jpg")')
            .wrapper-block-info
                .wrapper-block-info_text
                    .block-info_text-section Акции
                    .two-block
                        .block-info_text-title «Гарантируем удачу!»
                        .block-info_text-txt Мы так выборочно относимся к вопросу гигиены — прячемся от чихающегося человека и при этом собираем одноразовые пакеты.

        a(href='#').block-info-list(style='background-image:url("img/4.jpg")')
            .wrapper-block-info
                .wrapper-block-info_text
                    .block-info_text-section Новинка
                    .two-block
                        .block-info_text-title Мясо птицы в маринаде «Гурме Гриль»!
                        .block-info_text-txt «Гурме Гриль» – отборное мясо птицы, дополненное утончёнными маринадами и упакованное под вакуумом!