.container-header-bread-crumbs.header-info(style="background-image:url('img/4.jpg')")
    .wrapper-header-bread-crumbs
        .bread-crumbs
            a(href='#') Главная
            span Рецепты
        .wrapper-text-popup_container
            .wrapper-text-popup_title Запеченные куриные крылышки в медово-соевом маринаде с картофелем
            .wrapper-text-popup_txt БЖУ на порцию: белки 92 гр, жиры 47,1 гр, углеводы 62,7, ккал 1018.
        .block-text-inside_outside
            .block-text-inside_outside-time
                span.icon-time
                | Подготовка: 15 мин.
            .block-text-inside_outside-servings
                span.icon-servings
                | Приготовление: 45 мин.
