.container-header-bread-crumbs.header-info(style="background-image:url('img/2.jpg')")
    .wrapper-header-bread-crumbs
        .bread-crumbs
            a(href='#') Главная
            span Акции
        .wrapper-text-popup_container
            .wrapper-text-popup_title Участвуйте в розыгрыше призов!
            .wrapper-text-popup_txt Мы так выборочно относимся к вопросу гигиены — прячемся от чихающегося человека и при этом собираем пакеты.
            .wrapper-text-popup_btn
                a(href='#').btn-white Зарегистрировать чек