section.container-slider-header
    .swiper-container-header
        .swiper-wrapper
            .swiper-slide(style='background-image:url("img/slider/sl1.jpg")')
                .wrapper-swiper-slide
                    .block-info_text-title Процесс производства
                    .wrapper-swiper-slide_txt Крупнейший производитель продуктов из мяса птицы на територии Республики Беларусь. Формула успеха компании заключается в свежести продукции, остуствии консервантов и пищевых добавок.
                    a(href='#').btn-link Узнать больше

            .swiper-slide(style='background-image:url("img/slider/1.jpg")')
                .wrapper-swiper-slide
                    .block-info_text-title Процесс производства
                    .wrapper-swiper-slide_txt Крупнейший производитель продуктов из мяса птицы на територии Республики Беларусь. Формула успеха компании заключается в свежести продукции, остуствии консервантов и пищевых добавок.
                    a(href='#').btn-link Узнать больше

            .swiper-slide(style='background-image:url("img/slider/1.jpg")')
                .wrapper-swiper-slide
                    .block-info_text-title Процесс производства
                    .wrapper-swiper-slide_txt Крупнейший производитель продуктов из мяса птицы на територии Республики Беларусь. Формула успеха компании заключается в свежести продукции, остуствии консервантов и пищевых добавок.
                    a(href='#').btn-link Узнать больше

        // Add Pagination
        .swiper-pagination
        // Add Arrows
        .swiper-button-next
            .icon-btn-slider
                <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#EB1C24" fill-rule="evenodd"/></svg>
        .swiper-button-prev
            .icon-btn-slider
                <svg width="20" height="40" viewBox="0 0 20 40" xmlns="http://www.w3.org/2000/svg"><path d="M19.02 19.118l.02-.02.956.8-.102.102.102.103-.956.798-.02-.018L.975 39.102l-.97-.97L18.14 20 .004 1.867l.97-.97 18.046 18.22z" fill="#EB1C24" fill-rule="evenodd"/></svg>