block content
    .cont-index(style='width: 1000px; margin: 0 auto;')
        h2 Список страниц
        li
            a(href='index1.html') Главная

        li
            a(href='search.html') Поиск

        li
            a(href='search-no.html') Поиск(не найдено)



