extends _layout

block content
    main#barba-wrapper
        section.barba-container
            .container-main
                include includes/slider-header
                include includes/container-block-info
                include includes/container-block-product
                include includes/container-block-shares-index
                include includes/container-block-recipe
                include includes/container-block-new