block content
    .cont-index(style='width: 1000px; margin: 0 auto;')
        h2 Список страниц
        li
            a(href='index1.html') Главная

        li
            a(href='search.html') Поиск

        li
            a(href='search-no.html') Поиск(не найдено)

        li
            a(href='contact.html') Контакты

        li
            a(href='404.html') 404

        li
            a(href='company.html') О компании

        li
            a(href='product.html') Продукты

        li
            a(href='etalon.html') Текстовая страница(эталон)

        li
            a(href='lk.html') Личный кабинет

        li
            a(href='stock-page.html') Акция

        li
            a(href='stock-recipes.html') Рецепт



