extends _layout

block content
    main#barba-wrapper
        section.barba-container
            .container-main
                include includes/header-bg
                include includes/content-search-no