extends _layout

block content
    main#barba-wrapper
        section.barba-container
            .container-main
                include includes/header-info
                include includes/container-stock-page