extends _layout

block content
    main#barba-wrapper
        section.barba-container
            .container-main
                include includes/header-recipes
                include includes/container-ingredients
                include includes/container-recipes-txt
                include includes/container-ingredients-slider
                include includes/container-tag-s
                include includes/container-similar-recipes